
@import "parts/agenda.css";
@import "parts/artist-selection.css";
@import "parts/bookings.css";
@import "parts/chat-room.css";
@import "parts/client_payments.css";
@import "parts/comingsoon.css";
@import "parts/client-event-details.css";
@import "parts/enquiries.css";
@import "parts/footer.css";
@import "parts/freeQuote.css";
@import "parts/header.css";
@import "parts/how-it-works.css";
@import "parts/loginAndRecovery.css";
@import "parts/messages.css";
@import "parts/prices.css";
@import "parts/placeholders.css";
@import "parts/qa.css";
@import "parts/quotation.css";
@import "parts/registration.css";
@import "parts/requirements.css";
@import "parts/search.css";
@import "parts/settings-page.css";
@import "parts/team.css";
@import "parts/feedback.css";
@import "globals/buttons.css";
@import "globals/menu.css";
@import "custom.css";

@font-face {
    font-family: LatoBlack;
    src: url(../fonts/Lato/Lato-Black.ttf);
}

@font-face {
    font-family: LatoBold;
    src: url(../fonts/Lato/Lato-Bold.ttf);
}

@font-face {
    font-family: LatoRegular;
    src: url(../fonts/Lato/Lato-Regular.ttf);
}

@font-face {
    font-family: UbuntuMedium;
    src: url(../fonts/Ubuntu-M.ttf);
}

@font-face {
    font-family: UbuntuBold;
    src: url(../fonts/Ubuntu-B.ttf);
}

@font-face {
    font-family: LucidaGrande;
    src: url(../fonts/LucidaGrande/LucidaGrandeRegular.ttf);
}

@font-face {
    font-family: LucidaGrandeBold;
    src: url(../fonts/LucidaGrande/LucidaGrandeBold.ttf);
}

* {
    box-sizing: border-box;
    font-family: LatoRegular, Serif, sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
body{
    min-width: 320px;
}
html {
    overflow-x: initial;
}
main {
    position: relative;
}

.no-pad {
    padding: 0!important;
}

.ul-reset {
    list-style: none;
    margin: 0;
    padding: 0;
}

.row {
    margin: 0;
}

.modal {
    padding-right: 0!important;
    -webkit-overflow-scrolling: auto;
    min-width: 320px;
}

/*
body.modal-open {
    padding: 0!important;
}
*/

main .scroll-icon {
    position: absolute;
    width: 53px;
    height: 53px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    top: -26px;
    border-radius: 26px;
    background: white;
}

section.content,
section.cards,
section.used-by {
    background: white;
}

.select2-container--open .select2-dropdown--above {
    border: none!important;
}

.select2-container--default .select2-results>.select2-results__options {
    border: 2px solid #EEEEEE!important;
}

.select2-container--open .select2-dropdown--above .select2-results__options {
    border-bottom: none!important;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.select2-container--open .select2-dropdown--below .select2-results__options {
    border-top: none!important;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.custom-checkbox {
    display: inline-block;
    margin-bottom: 15px;
}

.custom-checkbox input {
    display: none;
}

.custom-checkbox label {
    padding-left: 23px;
    position: relative;
    font-family: LatoRegular;
    font-size: 11px;
    color: #AEAEAE;
    line-height: 17px;
    vertical-align: middle;
    cursor: pointer;
}

.custom-checkbox label:before {
    content: "";
    position: absolute;
    left: 0;
    height: 17px;
    width: 17px;
    background: transparent;
    border-radius: 5px;
    font-size: 15px;
    text-align: center;
    vertical-align: middle;
    background: #fff !important;
}

.custom-checkbox label:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 17px;
    width: 17px;
    display: none;
    background: url("../assets/images/yes.png") no-repeat center;
}

.custom-checkbox input:checked + label:after {
    content: "";
    display: block;
}

.hideme {
    position: relative;
    opacity: 0;
    bottom: -150px;
}

.content {
    padding-top: 47px;
}

.content .block {
    position: relative;
    padding-bottom: 54px;
    margin-bottom: 0;
}

.content .block .divider {
    position: absolute;
    bottom: 14px;
    text-align: center;
}

.content .block .divider.right {
    right: 0;
}

.content .block .divider img {
    height: 29px;

}

.divider-diagonal {
    padding: 0 23% 0;
}

.divider-diagonal.left .divider-arrow {
    -webkit-transform: rotate(-65deg);
    -moz-transform: rotate(-65deg);
    -ms-transform: rotate(-65deg);
    -o-transform: rotate(-65deg);
    transform: rotate(-65deg);
    width: 7px;
}

.divider-diagonal.right .divider-arrow {
    -webkit-transform: rotate(65deg);
    -moz-transform: rotate(65deg);
    -ms-transform: rotate(65deg);
    -o-transform: rotate(65deg);
    transform: rotate(65deg);
    width: 7px;
}

.content h2.title {
    font-size: 30px;
    line-height: 35px;
    font-family: UbuntuBold;
    color: #3d4248;
    margin-top: 0;
    margin-bottom: 14px;
    text-align: center;
}

.content .artist-title {
    font-family: LatoBlack;
    font-size: 15px;
    color: #f15e5a;
    text-align: center;
    margin-top: 14px;
    margin-bottom: 10px;
}

.content .customer-title {
    font-family: LatoBlack;
    font-size: 15px;
    color: #6d69C8;
    text-align: center;
    margin-top: 14px;
    margin-bottom: 10px;
}

.content .category-text {
    font-size: 14px;
    line-height: 17px;
    font-family: LatoRegular;
    color: rgba(0, 0, 0, 0.47);
    text-align: center;
    margin: 0;
}

.content .category-img {
    position: relative;
    /*left: 50%;*/
    /*-webkit-transform: translateX(-50%);*/
    /*-moz-transform: translateX(-50%);*/
    /*-ms-transform: translateX(-50%);*/
    /*-o-transform: translateX(-50%);*/
    /*transform: translateX(-50%);*/
    display: block;
    margin: 0 auto;
    height: 173px;
}

.content .option-title {
    text-align: center;
    font-family: LatoBold;
    font-size: 14px;
    line-height: 15px;
    color: #767676;
}

.content .options-img {
    position: relative;
    /*left: 50%;*/
    /*-webkit-transform: translateX(-50%);*/
    /*-moz-transform: translateX(-50%);*/
    /*-ms-transform: translateX(-50%);*/
    /*-o-transform: translateX(-50%);*/
    /*transform: translateX(-50%);*/
    width: 100%;
    max-width: 131px;
    display: block;
    margin: 0 auto 11px;
}

.content .title-secure {
    text-align: center;
    font-family: UbuntuBold;
    font-size: 18px;
    color: #8a9ffd;
    margin-bottom: 9px;
}

.flip-container {
    perspective: 750px;
    margin: 0 auto;
    cursor: pointer;
    margin-bottom: 60px;
}
.flip-container:hover .flipper, .flip-container.hover .flipper {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
.flip-container, .front, .back {
    width: 119px;
    height: 150px;
}
.back .show-more {
    position: absolute;
    font-family: LatoRegular;
    font-size: 8px;
    font-weight: bold;
    color: #ff7647;
    bottom: 41px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    text-decoration: none;
}

.flipper {
    transition: 0.4s;
    transform-style: preserve-3d;

    position: relative;
}
.front, .back {
    backface-visibility: hidden;

    position: absolute;
    top: 0;
    left: 0;
}
.flip-container:hover .front, .flip-container.hover .front {
    z-index: 0;
    opacity: 0;
}
.flip-container .front {
    opacity: 1;
    z-index: 2;
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);

    transition: ease all 0.25s;
}
.flip-container:hover .back, .flip-container.hover .back {
    z-index: 2;
    opacity: 1;
}
.flip-container .back {
    opacity: 0;
    z-index: 0;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);

    transition: ease all 0.25s;
}
.flip-container .front img,
.flip-container .back img{
    width: 100%;
}

.scroll-icon .icon {
    width: 100%;
    height: 100%;
}

.scroll-icon .icon-desktop {
    background: url("../assets/images/scroll_down.png") center no-repeat;
    background-size: cover;
}

.scroll-icon .icon-mobile {
    background: url("../assets/images/arrow_down.png") center no-repeat;
}

.divider-vertical {
    position: relative;
    float: left;
    height: 38px;
    border-right: 2px solid rgba(24, 28, 127, 0.14);
    margin-right: 18px;
}

.underline {
    width: 0;
    transition-property: width;
    transition-duration: 0.3s;
    margin: 0 auto;
}

.active a .underline{
    display: block;
    width: 100%;
    height: 5px;
    margin: 0 auto;
}

.underline .top {
    width: 100%;
    height: 2px;
    border-radius: 2px;
    background-color: #ff5843;
}

.underline .bottom {
    width: 80%;
    margin: 2px auto 0 auto;
    margin-top: 2px;
    height: 2px;
    border-radius: 2px;
    background-color: #ff5843;
}

.profile-dropdown a.dropdown-toggle {
    margin-top: 5px!important;
}

.profile-info {
    height: 212px;
    margin-top: -109px;
    padding: 0;
    z-index: 2;
    overflow: hidden;
}

.profile-info .controls .button-gradient.filled .btn,
.profile-info .controls .button-gradient .btn{
    min-width: 137px;
    width: auto;
}
.profile-info .controls .button-gradient .btn{min-width: 131px;}
.profile-info .controls .button-gradient:not(.filled) .btn{padding-top: 4px;}

.profile-info .avatar {
    position: relative;
    width: 160px;
    height: 160px;
    margin-left: 8px;
    margin-right: 8px;
    top: 26px;
    float: left;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    overflow: hidden;
}

.profile-info .avatar img{
    display: block;
    height: auto;
    width: 100%;
}

.profile-info .set-avatar{
    position: absolute;
    left: 50%;
    top: 50%;
    background: none;
    font-size: 16px;
    border: none;
    margin: -9px 0 0 -9px;
    color: #fff;
    cursor: pointer;
    padding: 0;
    width: 24px;
    height: 22px;
    text-align: center;
}

.profile-info .set-avatar .ico{
    display: block;
    background: url("../assets/images/change_photo.png") no-repeat;
    width: 24px;
    height: 22px;
    background-size: cover;
}
.profile-info .set-avatar-box .note{
    position: absolute;
    left: 50%;
    top: 60%;
    width: 88%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    font-style: normal;
    font-size: 10px;
    text-align: center;
    padding: 1px;
    border-radius: 4px;
    margin-top: 0;
    margin-right: 5px;
    -webkit-border-radius: 4px;
    opacity: 0;
    -webkit-transition: opacity .3s;
    -moz-transition: opacity .3s;
    -ms-transition: opacity .3s;
    -o-transition: opacity .3s;
    transition: opacity .3s;
    background: rgb(255,173,108);
    background-image: -moz-linear-gradient(left,  rgba(255,173,108,1) 0%, rgba(255,117,58,1) 100%);
    background-image: -webkit-linear-gradient(left,  rgba(255,173,108,1) 0%,rgba(255,117,58,1) 100%);
    background-image: linear-gradient(to right,  rgba(255,173,108,1) 0%,rgba(255,117,58,1) 100%);
}
.profile-info .set-avatar-box .note span{
    background: #fff;
    padding: 0 6px;
    display: block;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
.profile-info .set-avatar-box .set-avatar:hover + .note{opacity:1;}

.profile-info .info {
    position: relative;
    float: left;
    height: 100%;
    padding-left: 8px;
    width: 398px;
}

.profile-info .info .set-box-categories{
    position: absolute;
    right: -170px;
    top: 10px;
}
.profile-info .info .set-categories{
    float: left;
    background: none;
    font-size: 16px;
    border: none;
    margin: 0;
    color: #fff;
    cursor: pointer;
    padding: 0;
    width: 20px;
    height: 20px;
    text-align: center;
}

.profile-info .info .set-categories .ico{
    display: block;
    background: url("../assets/images/edit_categories.png") no-repeat;
    width: 20px;
    height: 20px;
    background-size: cover;
}

.profile-info .info .set-box-categories .note{
    font-style: normal;
    font-size: 12px;
    float: left;
    vertical-align: middle;
    padding: 1px;
    border-radius: 4px;
    margin-top: 0;
    margin-left: 7px;
    -webkit-border-radius: 4px;
    opacity: 0;
    -webkit-transition: opacity .3s;
    -moz-transition: opacity .3s;
    -ms-transition: opacity .3s;
    -o-transition: opacity .3s;
    transition: opacity .3s;
    background: rgb(255,173,108);
    background-image: -moz-linear-gradient(left,  rgba(255,173,108,1) 0%, rgba(255,117,58,1) 100%);
    background-image: -webkit-linear-gradient(left,  rgba(255,173,108,1) 0%,rgba(255,117,58,1) 100%);
    background-image: linear-gradient(to right,  rgba(255,173,108,1) 0%,rgba(255,117,58,1) 100%);
}
.profile-info .info .set-box-categories .note span{
    background: #fff;
    padding: 0 6px;
    display: block;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
.profile-info .info .set-categories:hover + .note{opacity:1;}

.info .username {
    width: 100%;
    display: inline-block;
    font-family: UbuntuMedium;
    font-size: 36px;
    color: #fff;
    margin-top: 19px;
}

.specializations {
    display: inline-block;
    margin-right: -10px;
    position: relative;
}

.info .specializations ul {
    margin-top: 11px;
    padding-left: 0;
}

.info .specializations ul > li {
    display: block;
    list-style-type: none;
    float: left;
}

.info .specializations ul > li > a {
    text-decoration: none;
    color: white;
    font-family: LatoRegular;
    font-size: 14px;
}

.specializations .glyphicon {
    font-size: 8px;
    margin-left: 2px;
    top: -2px;
}

.info .specializations ul > li > .divider {
    border-radius: 50%;
    width: 3px;
    height: 3px;
    background-color: white;
    display: inline-block;
    margin-bottom: 4px;
    margin-left: 5px;
    margin-right: 5px;
}

.info .from {
    display: block;
    width: 100%;
    float: left;
    margin-top: 8px;
    font-size: 15px;
    font-family: LatoBold;
    color: rgba(61, 66, 72, 0.72);
}

.info .price {
    display: block;
    float: left;
    margin-top: 8px;
    font-size: 15px;
    font-family: LatoBold;
    color: #464646;
    width: 100%;
}

.info .price .dollar{
    background: url("../assets/images/price_ic.png");
    display: inline-block;
    vertical-align: middle;
    width: 22px;
    height: 22px;
}

.info .user-rating {
    display: block;
    float: left;
    margin-top: 8px;
}

.info .user-rating .stars {
    display: inline-block;
}

.info .user-rating .stars>.star {
    width: 14px;
    height: 14px;
    display: inline-block;
    margin-right: 4px;
    background: url("../assets/images/star_unfilled_rate.png") no-repeat;
    background-size: cover;
}

.info .user-rating .stars>.star>.fill-star {
    display: inline-block;
    width: 0;
    height: 100%;
    background: url("../assets/images/star_rate.png") no-repeat;
    background-size: cover;
}

.info .user-rating .rating {
    display: inline-block;
    font-size: 14px;
    font-family: LatoRegular;
    color: #464646;
}

.menu {
    height: 54px;
    width: 100%;
    background: -moz-linear-gradient(left,  rgba(250,250,250,0.01) 0%, rgba(247,247,247,1) 50%, rgba(243,243,243,0.01) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(250,250,250,0.01) 0%,rgba(247,247,247,1) 50%,rgba(243,243,243,0.01) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(250,250,250,0.01) 0%,rgba(247,247,247,1) 50%,rgba(243,243,243,0.01) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.menu-item {
    padding-top: 19px;
    position: relative;
    overflow: hidden;
    height: 54px;
    text-align: center;
    width: 75px;
}

.menu-item:hover .hover-bg {
    background: #fc9e5f;
}

.menu-item .hover-bg {
    padding-top: 30px;
    width: 75px;
    height: 75px;
    border-radius: 38px;
    position: absolute;
    top: -11px;
    background: rgba(252, 158, 95, 0);

    transition-property: background;
    transition-duration: 0.3s;

    font-family: LatoBlack;
    font-size: 12px;
    color: #565689;
    text-decoration: none;
}

.menu ul {
    padding-left: 0!important;
    text-align: center;
    /*margin-left: -38px;*/
}

.menu .container>ul>li {
    list-style-type: none;
    display: inline-block;
    margin-right: 113px;
}

.menu .container>ul>li:last-of-type {
    margin-right: 0px;
}

.menu .container a {

}

.price-list .item {
    margin-top: 41px;
}

.price-list .heading{
    height: auto;
    padding-right: 314px;
}

.price-list .heading h2 {
    font-size: 21px;
    font-family: UbuntuBold;
    color: #424242;
    margin-top: 0;
}

.price-list .heading .price {
    font-family: LatoRegular;
    font-size: 14px;
    color: #636363;
    position: absolute;
    left: 896px;
    top: 31px;
}

/*.price-list>.item>.preview {*/
/*position: relative;*/
/*display: inline-block;*/
/*float: left;*/
/*width: 296px;*/
/*height: 205px;*/
/*margin-right: 8px;*/
/*}*/

/*.price-list>.item>.video {*/
/*cursor: pointer;*/
/*position: relative;*/
/*overflow: hidden;*/
/*display: inline-block;*/
/*float: left;*/
/*width: 296px;*/
/*height: 205px;*/
/*}*/

/*.price-list>.item>.video img{*/
/*width: 100%;*/
/*height: 100%;*/
/*}*/

/*edit form styles start*/
.price-list .edit-form{position: relative;}
.price-list .edit-form .heading{
    padding-bottom: 20px;
    padding-right: 286px;
}
.price-list .edit-form .heading .title{
    float: none !important;
}
.price-list .edit-form .heading .price{
    float: none !important;
    margin-right: 0;
}
.price-list .edit-form .holder,
.price-list .edit-form .holder.video{cursor: default;}
.price-list .edit-form .holder:before{
    content: "\f03e";
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -75px 0 0 -80px;
    color: #aeafaa;
    font: 160px/1 FontAwesome;
    -webkit-font-smoothing: antialiased;
    z-index: 0;
}
.btns-list{
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 10px;
    top: 10px;
    text-align: right;
    z-index: 2;
}
.btns-list li{
    position: relative;
    overflow: hidden;
}
.btns-list .btn-add{
    border: none;
    background: none;
    font-size: 16px;
    padding: 0;
    margin: 2px 0 5px;
    float: right;
    cursor: pointer;
    outline: none;
}
.btns-list .btn-add.photo .ico{
    display: block;
    background: url("../assets/images/change_photo.png") no-repeat;
    width: 18px;
    height: 16px;
    background-size: cover;
}
.btns-list .btn-add.video .ico{
    display: block;
    background: url('../assets/images/change_video.png') no-repeat;
    width: 18px;
    height: 16px;
    background-size: cover;
}
.btns-list .btn-add:hover + .note{
    opacity: 1;
}
.btns-list .note{
    font-style: normal;
    font-size: 12px;
    float: right;
    vertical-align: middle;
    padding: 1px;
    border-radius: 4px;
    margin-top: 0;
    margin-right: 3px;
    -webkit-border-radius: 4px;
    opacity: 0;
    -webkit-transition: opacity .3s;
    -moz-transition: opacity .3s;
    -ms-transition: opacity .3s;
    -o-transition: opacity .3s;
    transition: opacity .3s;
    background: rgb(255,173,108);
    background-image: -moz-linear-gradient(left,  rgba(255,173,108,1) 0%, rgba(255,117,58,1) 100%);
    background-image: -webkit-linear-gradient(left,  rgba(255,173,108,1) 0%,rgba(255,117,58,1) 100%);
    background-image: linear-gradient(to right,  rgba(255,173,108,1) 0%,rgba(255,117,58,1) 100%);
}
.btns-list .note span{
    background: #fff;
    padding: 0 6px;
    display: block;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
.edit-form .options-list{
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: -5px;
}
.edit-form .options-list li{
    float: left;
}
.edit-form .options-list .btn-option{
    /*background: #84ADEC;*/
    background: transparent;
    /*padding: 3px;*/
    /*margin: 2px;*/
    /*border: 1px solid #337ab7;*/
    border: none;
    width: 26px;
    font-size: 14px;
    color: #fff;
    padding :0;
    border-radius: 2px;
    -webkit-border-radius: 2px;
}
.edit-form .options-list .btn-option .ico{
    display: block;
    width: 22px;
    height: 21px;
    background-size: cover;
    background-repeat:  no-repeat;
}
.edit-form .options-list .btn-option.edit .ico{
    background-image: url("../assets/images/edit_blue.png");
}
.edit-form .options-list .btn-option.remove .ico{
    background-image: url("../assets/images/delete_blue.png");
}
.edit-form .options-list .btn-option.check .ico{
    background-image: url("../assets/images/done-blue.png");
}
.price-list .edit-form input[type="text"],
.price-list .edit-form input[type="number"],
.price-list .edit-form textarea{
    height: 26px;
    border: 1px solid #2e6da4;
    width: 100%;
    font-size: 13px;
    padding: 0 4px;
    color: #636363;
    outline: none;
}
.price-list .edit-form .info .box{
    overflow: visible;
}
.price-list .edit-form .description-area{
    height: 100%;
    padding: 5px 10px;
    resize: none;
}
.price-list .edit-form .heading .price{
    margin-top: 0;
}
.price-list .edit-form input[type="text"].set-price,
.price-list .edit-form input[type="number"].set-price{
    width: 45px;
}
.price-list .edit-form .button-gradient.blue{
    padding: 2px;
}
.price-list .edit-form .button-gradient.orange{padding: 2px;}
.price-list .edit-form .button-gradient.white .btn{
    background: #fff !important;
    border-radius: 21px;
    -webkit-border-radius: 21px;
    padding: 0 30px;
    height: 21px;
    font-size: 12px;
    /*line-height: 18px;*/
    color: #000;
    color: rgba(0, 0, 0, .87);
    outline: none;
    min-width: 100%;
}
.price-list .edit-form .button-gradient.white .btn:active{
    background: rgba(255, 255, 255, 0) !important;
    color: white;
    box-shadow: none;
    -webkit-box-shadow: none;
}
.price-list .edit-form .controls{bottom: 25px;}
.price-list .edit-form .controls:not(.add) .button-gradient{
    margin-right: 5px;
    display: block;
}
.price-list .edit-form .controls.add{
    position: relative;
    right: auto;
    bottom: auto;
    top: auto;
}
.edit-form .row{margin: 0 0 10px;}
/*edit form styles end*/

.price-list .holder{
    position: relative;
    overflow: hidden;
    float: left;
    width: 310px;
    height: 222px;
    margin-right: 8px;
    background: #ccc;
}

.price-list .holder.video{
    cursor: pointer;
    margin-right: 0;
}

.price-list .holder img{
    height: 100%;
    width: 100%;
    display: block;
    position: relative;
    z-index: 1;
}

.price-list .video .glyphicon {
    display: inline-block;
    opacity: 0;
    position: absolute;
    color: white;
    font-size: 30px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    cursor: pointer;
    -webkit-transition: opacity .25s ease-in;
    -moz-transition: opacity .25s ease-in;
    -ms-transition: opacity .25s ease-in;
    -o-transition: opacity .25s ease-in;
    transition: opacity .25s ease-in;
    z-index: 1;
}

.price-list .video .name {
    position: absolute;
    background: rgba(255, 173, 108, 0.85);
    height: 53px;
    width: 105%;
    -webkit-transform: rotate(4deg);
    -moz-transform: rotate(4deg);
    -ms-transform: rotate(4deg);
    -o-transform: rotate(4deg);
    transform: rotate(4deg);
    bottom: -98px;
    left: -8px;
    transition-property: bottom;
    transition-duration: 0.3s;
}

.price-list .video .name .name-text {
    margin-left: 15px;
    color: #FFF;
    -webkit-transform: rotate(-4deg);
    -moz-transform: rotate(-4deg);
    -ms-transform: rotate(-4deg);
    -o-transform: rotate(-4deg);
    transform: rotate(-4deg);
    margin-top: 4px;
    font-size: 14px;
    font-family: LatoBold;
}

.price-list .video:hover .glyphicon {
    opacity: 1;
}

.price-list .video:hover .name {
    display: inline-block;
    bottom: -15px;
    z-index: 1;
}

.price-list .info {
    position: static;
    height: 222px;
    display: inline-block;
    margin-left: 11px;
    float: left;
    /*padding-bottom: 74px;*/
    width: 246px;
}

.price-list .info .box{
    height: 100%;
    overflow: auto;
}

.price-list .item .info p {
    font-size: 12px;
    font-family: LatoRegular;
    color: #636363;
    word-break: normal;
}

.price-list .item .row{position: relative;}

.price-list .controls {
    top: 30px;
    padding: 0;
    height: auto;
    position: absolute;
    right: 0;
    float: none;
    width: 250px;
}

.price-list .controls .button-gradient .btn {
    display: block;
    width: auto;
    min-width: 131px;
    height: 26px;
    color: #fff;
    font-family: LatoBlack;
    font-size: 10px;
    border-radius: 13px;
    border: none;
    outline: none;
    box-shadow: none;

    transition-property: background;
    transition-duration: 0.2s;

    background: rgb(255,173,108); /* Old browsers */
    background: -moz-linear-gradient(left,  rgba(255,173,108,1) 0%, rgba(255,117,58,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(255,173,108,1) 0%,rgba(255,117,58,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(255,173,108,1) 0%,rgba(255,117,58,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.price-list .controls .btn:active {
    background: rgba(255, 255, 255, 0.7) !important;
    color: rgba(75, 75, 75, 0.64);
}

.price-list .controls .button-gradient {
    padding: 0;
    margin-right: 0;
}

.price-list .item .info .controls a {
    margin-left: 11px;
    text-decoration: underline;
    font-family: LatoRegular;
    font-size: 11px;
    color: #4366ae;
}

.show-more-info {
    display: none;
    width: 100%;
    text-align: center;
    font-family: LatoRegular;
    font-size: 12px;
    color: white;
    margin-top: 15px;
    border: none;
    padding: 8px;
    outline: none;

    background: rgb(255,173,108); /* Old browsers */
    background: -moz-linear-gradient(left,  rgba(255,173,108,1) 0%, rgba(255,117,58,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(255,173,108,1) 0%,rgba(255,117,58,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(255,173,108,1) 0%,rgba(255,117,58,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.pagination {
    width: 100%;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 0;
}

.pagination>li>a {
    border-radius: 0;
    float: none;
    border: none;
}

.pagination>li>a:hover {
    background: transparent;
}

.pagination a {
    background: transparent!important;
    outline: none!important;
}

.pagination a .button {
    display: inline-block;
    font-family: LatoRegular;
    font-size: 13px;
    color: #424242;
    height: 26px;
    width: 26px;
    line-height: 21px;
    margin-left: 4px;
    margin-right: 4px;
}

.pagination a .button.active {
    border: 1px solid #c2c2c2;
    border-radius: 50%;
    padding: 2px;
}

.pagination a.next-page {
    margin-left: 4px;
    margin-right: 4px;
    font-size: 8px;
    top: -2px;
    color: #b1b1b1;
}

.pagination a:hover.next-page,
.pagination a:focus.next-page,
.pagination a:active.next-page {
    color: #989898;
}

.pagination a.prev-page {
    margin-left: 4px;
    margin-right: 4px;
    font-size: 8px;
    top: -2px;
    color: #b1b1b1;
}

/*.pagination a.prev-page span {*/
/*-webkit-transform: rotate(-180deg);*/
/*-moz-transform: rotate(-180deg);*/
/*-ms-transform: rotate(-180deg);*/
/*-o-transform: rotate(-180deg);*/
/*transform: rotate(-180deg);*/
/*}*/

.pagination a.not-active {
    cursor: not-allowed;
}

.pagination a:hover.prev-page,
.pagination a:focus.prev-page,
.pagination a:active.prev-page {
    color: #989898;
}

.profile-block {
    margin-top: 41px;
}

.profile-block .title {
    width: 100%;
    border-bottom: 1px solid #d8d8d8;
    margin-bottom: 23px;
}

.profile-block .title span {
    text-align: left;
    font-size: 21px;
    padding-bottom: 4px;
    font-family: UbuntuBold;
    color: #424242;
}

.biography p {
    font-size: 15px;
    font-family: LatoRegular;
    color: #636363;
}

.feedbacks {
    margin-top: 68px;
}

.feedbacks .stars {
    display: inline-block;
    /*margin-left: 11px;*/
}

.feedbacks .stars>.star {
    width: 17px;
    height: 17px;
    display: inline-block;
    margin-right: 4px;
    background: url("../assets/images/star_unfilled_feedback.png") no-repeat;
    background-size: cover;
}

.feedbacks .stars>.star>.fill-star {
    display: inline-block;
    width: 0;
    height: 100%;
    background: url("../assets/images/star_feedback.png") no-repeat;
    position: relative;
    background-size: cover;
}

.feedback-block {
    padding-left: 15px;
    margin-top: 23px;
    position: relative;
    font-family: LatoRegular;
}

.feedback-block .avatar {
    float: left;
    display: inline-block;
    text-align: center;
    font-size: 14px;
    color: #424242;
    margin-right: 18px;
}

.feedback-block .text {
    position: relative;
    float: left;
    display: inline-block;
    width: calc(100% - 75px);
    font-size: 15px;
    color: #636363;
    padding-bottom: 23px;
    border-bottom: 1px solid rgba(187, 187, 187, 0.10);
    min-height: 80px;
}

.feedback-block .text .gradient {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: -moz-linear-gradient(top,  rgba(255,255,255,0.01) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0.01) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(255,255,255,0.01) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

    z-index: 1;
}

.feedback-block .text .more {
    position: relative;
    font-family: LatoBold;
    font-size: 15px;
    color: #636363;
    text-decoration: none;
    z-index: 2;
}

.feedback-block .avatar img{
    width: 53px;
    height: 53px;
    border-radius: 50%;
}

.media {
    margin-top: 68px;
}

.media ul {
    margin-bottom: 10px;
}

.media ul>li {
    list-style-type: none;
    display: inline-block;
    margin-left: 23px;
}

.media li a {
    position: relative;
    font-family: LatoBold;
    font-size: 17px;
    color: #424242;
    display: inline-block;
    text-decoration: none;
}

.media .badge {
    position: relative;
    top: -8px;
    height: 20px;
    min-width: 20px;
    border-radius: 10px;
    font-size: 11px;
    color: #5d5d5d;
    padding: 5px;
    background-color: #e0e0e0;
}

.media .circle {
    display: none;
    position: relative;
    left: 23px;
    width: 5px;
    height: 5px;
    background-color: #ff7e30;
    border-radius: 2px;
}

.media li a.active .circle {
    display: block;
}

.media-content{display: none;}
.media-content.active{display: block;}
.media-content .holder{position: relative;}
.media-content.video .holder{
    width: 70%;
    margin: 0 auto 15px;
}
.media-content .fakeMask{
    height: auto;
    opacity: 0;
    width: 100%;
}
.media-content .bxslider,
.media-content .bxVideoSlider{
    height: 100% !important;
    width: 100%;
    padding: 0;
}
.media-content .bxslider>li,
.media-content .bxVideoSlider>li{
    margin-left: 0!important;
}
.media-content .bxVideoSlider li{
    height: 100% !important;
    width: 100% !important;
}
.media-content.video .slider-controls{
    float: none;
    left: 0;
}
.media-content .bxslider li{
    width: 100% !important;
    height: 100%;
    overflow: hidden;
    padding: 0;
    position: relative;
    /*background-position: 50% 50%;*/
    /*background-repeat: no-repeat;*/
    /*-webkit-background-size: cover;*/
    /*background-size: cover;*/
}
.media-content .bxslider li img{
    height: 100%;
    width: auto;
    margin: 0 auto;
}
.media-content .bx-clone {
    display: none;
}
.media-content .bx-wrapper {
    margin: 0 auto 11px !important;
    height: 400px;
    overflow: hidden;
    padding: 0 40px;
}
.media-content.video .bx-wrapper{
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: auto;
    padding: 0;
    margin: 0 !important;
}
.media-content .bx-wrapper .bx-viewport {
    box-shadow: none;
    border: none;
    left: 0!important;
    margin: 0;
    height: 100% !important;
}
.media-content .bx-pager {
    padding: 0 34px;
    text-align: center;
}
.media-content.video .bx-pager{
    position: relative;
}
.media-content .bx-pager .wrap{
    vertical-align: top;

}
.media-content .bx-pager [class*='thumb'] {
    width: calc(15% - 4px);
    /*width: 15%;*/
    margin: 2px;
    height: 137px;
    display: inline-block;
    vertical-align: top;
}
/*.media-content .bx-pager a{*/
/*display: block;*/
/*}*/
.media-content .bx-pager div.empty a {
    display: none;
}

.media-content .bx-pager .scale-thumb {
    overflow: hidden;
}

.media-content .bx-pager .thumb1 {
    background: rgba(255, 119, 60, 0.18);
}
.media-content .bx-pager .thumb2 {
    background: rgba(255, 119, 60, 0.13);
}
.media-content .bx-pager .thumb3 {
    background: rgba(255, 119, 60, 0.06);
}
.media-content .bx-pager .thumb4 {
    background: rgba(255, 119, 60, 0.03);
}
.media-content .bx-pager a img{
    width: 100%;
    max-height: 200%;
}
.media-content.wrapper {
    position: relative;
}
.media-content .btn-prev,
.media-content .btn-next{
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 50%;
    margin: -21px 0 0;
    z-index: 1;
}
.media-content .btn-next{
    left: 15px;
    right: auto;
}
.media-content.video .btn-prev{right: -20%;}
.media-content.video .btn-next{left: -20%;}
.media-content .bx-next,
.media-content .bx-prev {
    color: #424242;
}

.social-media {
    margin-top: 68px;
    margin-bottom: 68px;
}

.spotlight {
    background: #222428;
    padding: 27px 0 30px;
}

.spotlight .browse-artists {
    border: none!important;
    outline: none!important;
    box-shadow: none;

    background: white;
    border-radius: 20px;
    height: 32px;
    width: 209px;

    font-family: LatoBold;
    font-size: 15px;
    color: #3d4248;
    position: relative;
    margin-top: 30px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

.spotlight .title {
    text-align: center;
    font-family: UbuntuBold;
    font-size: 23px;
    color: white;
    margin-top: 0;
    margin-bottom: 30px;
}

.spotlight .prev-control,
.spotlight .next-control {
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    position: absolute;
    top: 50%;
    color: #fff;
    left: 0;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 5;
}

.spotlight .next-control {
    left: auto;
    right: 0;
}

.cards {
    position: relative;
    padding: 45px 0;
}

.card-flip {
    perspective: 750px;
}

.MSIE .card-flip{perspective: none;}
.MSIE .card-flip .flipper{
    transition: none;
    transform-style: flat;
}

.card-flip:hover .flipper, .card-flip.hover .flipper {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.card-flip .flipper {
    width: 100%;
    padding-bottom: 80%;
    transition: 0.6s;
    transform-style: preserve-3d;

    position: relative;
}

.card-flip .front, .card-flip .back {
    backface-visibility: hidden;
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid white;
    background-size: cover;
}

.card-flip:hover .front, .card-flip.hover .front {
    z-index: 0;
    opacity: 0;
}

.card-flip .front {
    z-index: 2;
    opacity: 1;
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
    height: 100%;
    background-size: cover!important;

    transition: ease all 0.25s;
}

.card-flip:hover .back, .card-flip.hover .back {
    z-index: 2;
    opacity: 1;
}

.card-flip .back {
    z-index: 0;
    opacity: 1;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
    height: 100%;
    background-size: cover!important;

    transition: ease all 0.25s;
}

.MSIE .card-flip .back,
.MSIE .card-flip .front,
.MSIE .card-flip:hover .flipper,
.MSIE .card-flip.hover .flipper{
    transform: none;
    transition: none;
}

.card-flip .back .panel-text {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.89);
    padding: 21px 15px 30px;
    text-align: center;
}

.card-flip .front .panel-text {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.35);
}

.card-flip .front .title {
    text-align: center;
    position: absolute;
    width: 100%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    font-family: UbuntuBold;
    font-size: 15px;
    color: white;
}

.panel-text .title {
    font-family: UbuntuBold;
    font-size: 15px;
    color: #4a4a4a;
}

.panel-text.controls .btn {
    background: transparent;
    font-size: 14px!important;
    color: white;
}

.panel-text.controls .button-gradient {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 30px;
}

.panel-text.controls .button-gradient .btn{
    padding-top: 5px;
}

.panel-text .text {
    font-family: LatoRegular;
    font-size: 11px;
    color: #7a7a7a;
}

.card-flip.variety-acts .front {
    background: url("../assets/images/VarietyActs.jpg") center no-repeat;
}

.card-flip.variety-acts .back {
    background: url("../assets/images/VarietyActs.jpg") center no-repeat;
}

.card-flip.live-music .front {
    background: url("../assets/images/LiveMusic.jpg") center no-repeat;
}

.card-flip.live-music .back {
    background: url("../assets/images/LiveMusic.jpg") center no-repeat;
}

.card-flip.international .front {
    background: url("../assets/images/InternationalShow.jpeg") center no-repeat;
}

.card-flip.international .back {
    background: url("../assets/images/InternationalShow.jpeg") center no-repeat;
}

.card-flip.emcees .front {
    background: url("../assets/images/EMCEEComedian.jpeg") center no-repeat;
}

.card-flip.emcees .back {
    background: url("../assets/images/EMCEEComedian.jpeg") center no-repeat;
}

.card-flip.dance .front {
    background: url("../assets/images/DanceActs.jpg") center no-repeat;
}

.card-flip.dance .back {
    background: url("../assets/images/DanceActs.jpg") center no-repeat;
}

.card-flip.children .front {
    background: url("../assets/images/ChildrenEntertainment.jpg") center no-repeat;
}

.card-flip.children .back {
    background: url("../assets/images/ChildrenEntertainment.jpg") center no-repeat;
}

.used-by {
    height: 300px;
    position: relative;
}

.used-by .text-panel {
    position: absolute;
    top: 40%;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    text-align: center;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.used-by .wrap {
    bottom: -34px!important;
}

.used-by .bg {
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 1, 232, 0.6);
}

.used-by .text-panel h2 {
    font-family: UbuntuBold;
    font-size: 26px;
    color: #fff;
    margin-top: 24px;
    margin-bottom: 23px;
}

.used-by .text-panel .text {
    font-family: LatoRegular;
    font-size: 18px;
    color: #fff;
    margin-top: 0px;
    margin-bottom: 17px;
}

.used-by .text-panel .author {
    font-family: LatoRegular;
    font-size: 17px;
    color: rgba(255, 255, 255, 0.71);
    margin: 0;
}

.used-by .bx-wrapper {
    max-width: 100%!important;
    width: 100%;
    margin: 0!important;
}

.used-by .bx-wrapper .bx-viewport {
    box-shadow: none;
    border: none;
    left: 0!important;
    margin: 0;
}

.stay-in-touch {
    padding: 36px 0 43px;
    background: #222428;
    text-align: center;
}

.stay-in-touch h2 {
    font-family: UbuntuBold;
    font-size: 27px;
    color: #fff;
    margin: 0;
    margin-bottom: 14px;
}

.stay-in-touch .text {
    font-family: LatoRegular;
    font-size: 17px;
    color: #fff;
    margin: 0;
    margin-bottom: 23px;
}

.stay-in-touch .follow-us {
    font-family: LatoRegular;
    font-size: 18px;
    color: #fff;
    margin: 0;
    margin-bottom: -2px;
}

.stay-in-touch input {
    line-height: 17px;
    text-align: left;
    width: 30%;
    max-width: 188px;
    height: 34px;
    border: none;
    outline: none!important;
    border-radius: 19px;
    padding: 0 11px 1px;
    margin-right: 14px;
    font-family: LatoRegular;
    font-size: 14px;
    color: #3d4248;
}

.stay-in-touch .form {
    margin-bottom: 23px;
}

.stay-in-touch .form .controls {
    padding: 0;
    float: none;
    display: inline-block;
    top: -2px;
}

.stay-in-touch .form  .controls .button-gradient.filled .btn {
    height: 33px;
    font-family: LatoBold;
    font-size: 14px;
    padding-top: 5px;
}

#carousel {
    width: 100%;
    height: 273px;
    position: relative;
}

#carousel .wrap {
    display: inline-block!important;
}

#carousel img {
    width: 100%;
    height: 100%;
}

#carousel .wrap span {
    display: block;
    opacity: 0;
}

#carousel .wrap .caption-block {
    display: none!important;
    overflow: hidden;
}

.caption-block .name {
    position: absolute;
    background: rgba(255, 173, 108, 0.85);
    height: 75px;
    width: 105%;
    -webkit-transform: rotate(4deg);
    -moz-transform: rotate(4deg);
    -ms-transform: rotate(4deg);
    -o-transform: rotate(4deg);
    transform: rotate(4deg);
    bottom: -150px;
    left: -8px;
    transition-property: bottom;
    transition-duration: 0.3s;
}

.caption-block .name .text{
    margin: 10px 0 5px 15px;
    color: #FFF;
    -webkit-transform: rotate(-4deg);
    -moz-transform: rotate(-4deg);
    -ms-transform: rotate(-4deg);
    -o-transform: rotate(-4deg);
    transform: rotate(-4deg);
    font-size: 18px;
    font-family: LatoBold;
}

#carousel .wrap:hover img.carousel-center + span {
    display: block;
    opacity: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    font-size: 30px;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: white;
    cursor: pointer;
    transition: ease opacity 0.4s;
}


#carousel .wrap img.carousel-center + span + .caption-block {
    display: inline-block!important;
}

#carousel .wrap:hover img.carousel-center + span + .caption-block .name {
    bottom: -14px;
    display: block;
}

#carousel .wrap .sub_categories{
    list-style: none;
    margin: 0 0 0 18px;
    padding: 0;
    overflow: hidden;
    color: #fff;
    font-size: 13px;
    -webkit-transform: rotate(-4deg);
    -moz-transform: rotate(-4deg);
    -ms-transform: rotate(-4deg);
    -o-transform: rotate(-4deg);
    transform: rotate(-4deg);
}

#carousel .wrap .sub_categories li{
    float: left;
    margin-right: 10px;
}

.categories-dropdown {
    margin-top: 0;
    width: 100%;
    background-color: #90BCDF;
    margin-bottom: 15px;
    border: none;
    box-shadow: none;
    outline: none;
}

.categories-dropdown .btn-primary {
    width: 100%;
    background: transparent!important;
    text-align: left;
    border: none;
    box-shadow: none;
    outline: none!important;
    padding: 10px 20px;
    font-weight: bold;
}

.categories-dropdown.open .btn-primary {
    padding: 10px 20px;
    border-radius: 0;
    -webkit-border-radius: 0;
    background: #90bcdf !important;
    position: relative;
    z-index: 3;
}

.categories-dropdown.open>.dropdown-menu {
    display: block;
    width: 100%;
    border: none;
    border-radius: 0;
    margin-top: -1px;
    background: #90BCDF;
    z-index: 2;
    padding: 0;
}

.categories-dropdown.open>.dropdown-menu>li>a {
    padding: 10px 20px;
    color: white;
    font-weight: bold;
}
.categories-dropdown.open>.dropdown-menu>li>a:hover,
.categories-dropdown.open>.dropdown-menu>li>a:focus{color: #262626;}

.categories-dropdown .btn-primary .caret {
    position: absolute;
    top: 18px;
    right: 15px;
    border-top: 6px dashed;
    border-top: 6px solid;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
}
.modal-dialog .free-quote-modal.modal-registered .select2-container{
    display: block;
}
.modal-dialog .free-quote-modal.modal-registered .select2-container--default .select2-selection--single .select2-selection__rendered,
.modal-dialog .select2-container--default .select2-selection--single .select2-selection__rendered{
    background: #fff;
    font-size: 10px;
    height: 32px;
    line-height: 32px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
}
#freeQuoteModal .select2-container--open .select2-selection__rendered{
    border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
}

.free-quote-modal.modal-registered .select2-container--default .select2-selection--single .select2-selection__rendered{
    font-size: 13px;
}

.free-quote-modal .quote-profile-desc {
    border: none !important;
}

.free-quote-modal .custom-checkbox label {
    color: #000;
    font-weight: 400;
}

/*promo view styles start*/
.promo-view{
    position: relative;
    color: #3d4248;
}
.promo-view .holder{
    overflow: hidden;
    position: absolute;
    text-align: center;
    left: 0;
    width: 100%;
    top: 50%;
    -webkit-transform: translate3d(0, -50%, 0);
    -moz-transform: translate3d(0, -50%, 0);
    -ms-transform: translate3d(0, -50%, 0);
    -o-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
}
.promo-view .logo{
    background: url("../assets/images/logo-black.png") no-repeat;
    overflow: hidden;
    margin: 0 auto 70px;
    text-indent: -9999px;
    width: 275px;
    height: 124px;
}
.promo-view h2{
    font-size: 26px;
    line-height: 32px;
    margin: 0 0 15px;
}
.recovery-form{
    margin: 0 auto 10px;
    max-width: 420px;
    padding: 0 10px;
}
.recovery-form .row{
    position: relative;
    margin: 0 0 20px;
}
.recovery-form .box{
    /*padding-right: 50px;*/
    position: relative;
    width: 90%;
}
.recovery-form input[type='text'],
.recovery-form input[type='password'],
.recovery-form input[type='email'],
.recovery-form input[type='tel']{
    height: 40px;
    border: 2px solid #eee;
    width: 100%;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    background: white;
    font-size: 18px;
    padding: 0 40px 0 10px;
    outline: none;
    color: #eee;
}
.recovery-form label{
    font-size: 14px;
    line-height: 18px;
    margin: 0 0 5px;
    font-weight: normal;
}
.recovery-form .ico{
    position: absolute;
    right: 10px;
    top: 50%;
    margin: -10px 0 0;
    font-size: 18px;
    background: none;
    border: none;
    padding: 0;
    line-height: 20px;
    outline: none;
    box-sizing: content-box;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
}
.recovery-form .ico.closest{
    margin-top: 2px;
}
.recovery-form .ico.active .showing{display: none;}
.recovery-form .ico.active .hidden{
    display: block !important;
    margin: 2px 0 0;
}
.recovery-form .notify-list{
    list-style: none;
    margin: 0 0 10px;
    padding: 0;
}
.recovery-form .notify-list li{
    padding: 0 0 10px 30px;
    position: relative;
}
.recovery-form .notify-list li.active{
    opacity: 0.5;
}
.recovery-form .notify-list li:after{
    content: "";
    position: absolute;
    left: 0;
    top: 2px;
    background: url('../assets/images/checkmark_recovery_password.png') no-repeat;
    height: 14px;
    width: 19px;
}
.recovery-form .controls{
    float: none;
    margin: 0 0 10px;
    padding: 0;
}
.recovery-form .controls .button-gradient{
    border-radius: 24px;
    -webkit-border-radius: 24px;
    margin: 0;
}
.recovery-form .controls .btn{
    font-size: 18px !important;
    width: auto !important;
    height: 40px !important;
    font-weight: bold;
    min-width: 180px;
}
.recovery-form .go-back{
    color: #3d4248;
    font-size: 16px;
    line-height: 20px;
    text-decoration: underline;
}
.recovery-form .go-back:hover{
    text-decoration: none;
}
/*promo view styles end*/

input[disabled] {
    background: #eee !important;
    cursor: not-allowed !important;
}
.loader-mask {
    background: rgba(0, 0, 0, 0.75);
    position: absolute;
    display: none;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 200;
}
.loader {
    color: #ffffff;
    font-size: 20px;
    margin: 100px auto;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    -webkit-animation: load4 1.3s infinite linear;
    animation: load4 1.3s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}
@-webkit-keyframes load4 {
    0%,
    100% {
        box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
    }
    12.5% {
        box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }
    25% {
        box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }
    37.5% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    50% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    62.5% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
    }
    75% {
        box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
    }
    87.5% {
        box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
    }
}
@keyframes load4 {
    0%,
    100% {
        box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
    }
    12.5% {
        box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }
    25% {
        box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }
    37.5% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    50% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    62.5% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
    }
    75% {
        box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
    }
    87.5% {
        box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
    }
}

.pac-container {
    z-index: 5000;
}

.fa.fa-trash:before {
    content: "";
    background: url(/assets/images/delete-light.png) no-repeat;
    display: inline-block;
    height: 27px;
    width: 27px;
    vertical-align: middle;
}

@supports ( -webkit-appearance: none ) or ( appearance: none ) or ( ( -moz-appearance: none ) and ( mask-type: alpha ) ) {
    /* Remove select styling */
    select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;

        background: #FFF;

        background-image:
                linear-gradient(45deg, transparent 50%, #ff793e 50%),
                linear-gradient(135deg, #ff793e 50%, transparent 50%),
                linear-gradient(to right, #ff793e, #ff793e);
        background-position:
                calc(100% - 10px) 10px,
                calc(100% - 5px) 10px,
                100% 0;
        background-size: 5px 5px, 5px 5px, 0 0;
        background-repeat: no-repeat;
        border: 2px solid #e5e5e5;
        border-radius: 4px;
        padding: 3px 20px 3px 3px;
        margin: 0 2.5px 0 2.5px;
    }

    select:active {
        background-image:
                linear-gradient(135deg, transparent 50%, #ff793e 50%),
                linear-gradient(45deg, #ff793e 50%, transparent 50%),
                linear-gradient(to right, #ff793e, #ff793e);
        background-position:
                calc(100% - 10px) 8px,
                calc(100% - 5px) 8px,
                100% 0;
        background-size: 5px 5px, 5px 5px, 0 0;
        background-repeat: no-repeat;
    }
}

/*Medium screens*/
@media (max-width: 1199px) {

    /*.profile-info {*/
    /*height: auto;*/
    /*}*/

    /*.profile-info .controls {*/
    /*display: block;*/
    /*padding: 15px 0;*/
    /*width: 300px;*/
    /*margin: 0 auto;*/
    /*position: relative;*/
    /*left: 50%;*/
    /*-webkit-transform: translateX(-50%);*/
    /*-moz-transform: translateX(-50%);*/
    /*-ms-transform: translateX(-50%);*/
    /*-o-transform: translateX(-50%);*/
    /*transform: translateX(-50%);*/
    /*}*/

    .price-list .heading{
        padding-right: 183px;
        overflow: hidden;
    }

    .price-list .heading h2{
        float: left;
    }

    .price-list .heading .price{
        top: 4px;
        right: 4px;
        left: auto;
    }

    .price-list .edit-form .heading .price{
        top: 1px;
    }

    .price-list .holder {
        height: auto;
        margin-right: 9px;
        width: calc(50% - 9px);
        max-width: 370px;
    }

    .price-list .edit-form .holder.video{
        margin-right: 0;
        width: calc(50%);
    }

    .price-list .edit-form .holder{
        height: 248px;
    }
    .edit-form .options-list{
        top: -37px;
    }
    .edit-form .options-list .btn-option{
        font-size: 12px;
        width: 22px;
    }

    .edit-form .options-list .btn-option .ico{
        height: 17px;
        width: 18px;
    }

    .price-list .edit-form .controls:not(.add) .button-gradient{
        display: inline-block;
    }
    .price-list .edit-form .controls.add{
        position: absolute;
        bottom: 25px;
        right: 0;
        left: auto;
    }

    .price-list .video {
        padding-bottom: 0;
    }

    .price-list .info{
        margin-left: 6px;
        height: 247px;
        width: 218px;
    }

    .price-list .item .row{padding: 0 0 75px;}

    .price-list .controls{
        bottom: 0;
        left: 0;
        top: auto;
        right: auto;
    }

}
/*Small screens*/
@media (max-width: 991px) {
    .profile-info .controls {
        display: block;
        padding: 15px 0;
        width: 300px;
        margin: 0 auto;
        position: relative;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
    }


    .mail span.badge {
        margin-left: 8px;
        font-size: 10px;
        background-color: #ff735a;
        z-index: 1;
        padding: 3px 5px;
        border: none;
        min-width: 11px;
    }

    .divider-vertical {
        display: none;
    }

    .profile-info .avatar {
        width: 128px;
        height: 128px;
    }

    .menu-item:hover .hover-bg {
        background: transparent;
    }

    .profile-info .info {
        padding-left: 0;
        width: calc(100% - 144px);
    }

    .menu .container>ul>li{
        margin-right: 0!important;
        text-align: center;
        width: 33.33333%;
        float: left;
    }

    .menu ul {
        display: inline-block;
        width: 100%;
        margin: 0!important;
    }

    .menu .menu-item {
        display: inline-block!important;
    }

    .media-content .bx-wrapper{height: 300px;}
    .price-list .edit-form .holder{height: 259px;}
    .price-list .info {
        margin-left: 0;
        margin-top: 8px;
        height: auto;
        padding-bottom: 74px;
        width: 100%;
    }

    .price-list .info .box{
        height: auto;
    }

    .price-list .item .row{padding: 0;}

}
@media (max-width: 849px){
    .underline {
        display: none!important;
    }
}
/*Extra small screens*/
@media (max-width: 767px) {
    .used-by {
        height: 150px;
    }

    .content h2.title {
        font-size: 21px;
    }

    .content .artist-title {
        font-size: 11px;
    }

    .content .customer-title {
        font-size: 11px;
    }

    .content .category-text {
        font-size: 9px;
        letter-spacing: 0;
    }

    .content .option-title {
        font-size: 9px;
    }

    .content .options-img {
        width: 90%;
    }

    .content .category-img {
        height: 113px;
    }

    .content .title-secure {
        margin-top: 15px;
        font-size: 11px;
        margin-bottom: 19px;
    }

    .flip-container, .front, .back {
        width: 113px;
        height: 150px;
    }

    .flip-container {
        margin-bottom: 38px;
    }

    .flip-container .front img, .flip-container .back img {
        height: 100%;
        width: 100%;
    }

    .cards {
        padding: 38px 0;
    }

    .back .show-more {
        font-size: 9px;
        bottom: 34px;
    }

    .spotlight .title {
        font-size: 14px;
        margin-bottom: 8px;
    }

    .spotlight .browse-artists {
        margin-top: 8px;
        width: 85%;
        font-size: 12px;
    }

    .panel-text.controls .btn {
        font-size: 14px!important;
    }

    .used-by .text-panel h2 {
        font-size: 11px;
        margin-top: 26px;
    }

    .used-by .text-panel .text {
        font-size: 11px;
        margin-bottom: 11px;
    }

    .used-by .text-panel .author {
        font-size: 12px;
    }

    .stay-in-touch h2 {
        font-size: 13px;
    }

    .stay-in-touch .text {
        font-size: 11px;
    }

    .stay-in-touch input {
        display: block;
        margin: 0 0 8px;
        width: 100%;
        text-align: center;
        position: relative;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
    }

    .stay-in-touch .form .controls .button-gradient.filled {
        display: block;
        width: 100%;
    }

    .stay-in-touch .form .controls {
        width: 100%;
        max-width: 188px;
    }

    .stay-in-touch .follow-us {
        font-size: 12px;
    }

    .controls .button-gradient.filled .btn {
        height: 32px;
        width: 137px;
    }

    .panel-text .text {
        font-size: 11px;
    }

    .pagination {
        display: none;
    }

    .show-more-info {
        display: inline-block;
    }

    .profile-block .title span {
        margin-left: 8px;
        font-size: 14px;
    }

    .feedback-block {
        padding-left: 19px;
    }

    .feedback-block .text {
        border-bottom: none;
        font-size: 11px;
    }

    .feedback-block .text .more {
        display: none;
    }

    .feedback-block {
        border-bottom: 1px solid rgba(187, 187, 187, 0.10);
    }

    .info .price {
        font-size: 11px;
    }

    .profile-info {
        margin-top: -83px;
    }

    .profile-info .avatar {
        width: 98px;
        height: 98px;
    }

    .profile-info .info {
        padding-left: 0;
        width: calc(100% - 114px);
    }

    .info .username {
        font-size: 17px;
        margin-top: 30px;
    }

    .info .specializations ul {
        margin-top: 0;
    }


    .info .specializations ul > li > a {
        font-size: 10px;
    }

    .menu .container>ul>li:not(:last-of-type) {
        margin-right: 49px;
    }

    .price-list .holder {
        height: auto;
        margin-bottom: 8px;
    }

    .price-list .video {
        padding-bottom: 0;
    }

    .price-list .info {
        width: 100%;
        margin-left: 0;
        margin-top: 8px;
    }

    .price-list .item {
        padding: 0 11px;
    }

    .media ul>li>a {
        font-size: 9px;
    }

    .media {
        margin-top: 38px;
    }

    .media .badge {
        height: 14px;
        min-width: 14px;
        font-size: 7px;
        padding: 4px;
    }

    .media ul>li {
        margin: 0;
        margin-right: 8px;
    }

    .media ul {
        padding-left: 15px;
    }

    .media .circle {
        left: 15px;
    }

    .bx-pager {
        padding: 0 45px;
    }

    .price-list .heading{
        padding-right: 178px;
    }

    .price-list .heading h2 {
        font-size: 17px;
    }

    .price-list .controls {
        left: 50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
    }

    .price-list .heading .price {
        font-size: 11px;
    }

    main {
        margin-bottom: 0;
    }

    .price-list .video .name {
        bottom: -26px;
    }

    .price-list .video .name .name-text {
        margin-top: 3px;
        font-size: 10px;
    }

    .price-list .item .info p {
        font-size: 11px;
    }

    .price-list .controls .btn {
        font-size: 9px;
    }

    .biography p {
        font-size: 11px;
        padding: 11px;
    }


    .feedback-block .avatar img {
        width: 38px;
        height: 38px;
    }

    .feedback-block .avatar {
        font-size: 9px;
    }
    .media-content.video .holder{width: 82%;}
    .media-content.video .btn-prev{right: -8%;}
    .media-content.video .btn-next{left: -8%;}

    .price-list .edit-form .holder,
    .price-list .edit-form .holder.video{
        height: auto;
        min-height: 300px;
    }
    .price-list .edit-form .controls.add{
        left: 50%;
        right: auto;
        bottom: -10px;
    }
    .price-list .edit-form .heading{padding-right: 180px;}
    .profile-info .info .set-box-categories{
        top: 0;
    }
    .profile-info .set-avatar,
    .profile-info .info .set-categories{font-size: 14px;}

    .profile-info .set-avatar{
        top: 35%;
    }
    .profile-info .set-avatar-box .note{
        top: 47%;
        width: 95%;
        font-size: 9px;
    }
    .profile-info .set-avatar-box .note span{
        padding: 0 1px;
    }
    .spotlight .container{padding: 0;}
    .spotlight .next-control,
    .spotlight .prev-control{
        height: 100%;
        width: 50px;
    }
    .spotlight .prev-control .fa,
    .spotlight .next-control .fa{
        position: absolute;
        left: 10px;
        top: 50%;
        margin: -21px 0 0;
    }
    .spotlight .next-control .fa{
        left: auto;
        right: 10px;
    }

    .recovery-form .notify-list{
        font-size: 14px;
        line-height: 17px;
    }

    .recovery-form .ico{right: 7px;}
}

/*Screens with width < 679px*/
@media (max-width: 679px) {
    .price-list .holder,
    .price-list .edit-form .holder.video{
        max-width: 100%;
        float: none;
        width: 100%;
    }
}

/*Screens with width < 599px*/
@media (max-width: 599px) {
    .price-list .edit-form .controls{
        text-align: center;
    }
    .price-list .info{
        padding-bottom: 100px;
    }
    .profile-info .set-avatar-box .note{
        top: 60%;
        width: 95%;
        font-size: 9px;
    }
    .profile-info .set-avatar{
        margin-left: -13px;
    }
    .profile-info .set-avatar-box .note span{
        padding: 0 1px;
    }
    .profile-info .info .set-box-categories{
        right: -22px;
    }
    .profile-info .info .set-box-categories .note{
        float: none;
        position: absolute;
        top: -25px;
        right: 0;
        width: 130px;
    }
}

/*Screens with width < 479px*/
@media (max-width: 479px) {
    .price-list .heading{
        padding-right: 137px;
    }
    .media-content .bx-wrapper{height: 230px;}
    .price-list .edit-form .holder{
        min-height: 230px;
    }
}
/*Screens with width < 400px*/
@media (max-width: 400px) {

    .used-by .text-panel h2 {
        font-size: 11px;
        margin-top: 15px;
        margin-bottom: 11px;
    }
    .panel-text.controls .btn {
        font-size: 11px!important;
    }

    .controls .button-gradient.filled .btn {
        height: 26px;
        width: 100%;
    }

    .panel-text .text {
        font-size: 10px;
    }

    .content .category-img {
        height: 83px;
    }

    .profile-info .controls {
        display: block;
        padding: 15px 0;
        width: 100%;
        margin: 0 auto;
    }

    .profile-info {
        margin-top: -71px;
    }

    .menu .container>ul>li:not(:last-of-type) {
        margin-right: 11px;
    }

    .profile-info .button-gradient {
        display: block;
        width: 135px;
        margin: 0 auto 11px!important;
    }

    .profile-info .avatar {
        width: 53px;
        height: 53px;
        top: 38px;
    }

    .profile-info .info {
        padding-left: 0;
        width: calc(100% - 69px);
    }

    .info .username {
        font-size: 14px;
        margin-top: 23px;
    }

    .info .specializations ul > li > a {
        font-size: 8px;
    }

    .info .specializations ul > li > .divider {
        margin-bottom: 1px;
    }

    .info .from {
        font-size: 10px;
    }

    .info .price {
        font-size: 9px;
    }

    .info .user-rating .rating {
        font-size: 8px;
    }

    .controls .button-gradient .btn {
        font-size: 11px;
    }

    .controls .button-gradient.filled .btn {
        font-size: 9px;
    }

    .menu-item .hover-bg {
        font-size: 9px;
    }

    .price-list .heading{padding-right: 0;}

    .price-list .heading{
        padding-right: 0;
    }

    .price-list .heading h2 {
        font-size: 14px;
        float: none;
    }

    .price-list .heading .price {
        font-size: 9px;
        display: block;
        margin-bottom: 8px;
        position: relative;
        top: auto;
        right: auto;
    }

    .price-list .video .name {
        bottom: -26px;
    }

    .price-list .edit-form .heading{
        padding-right: 0;
    }
    .price-list .edit-form .heading .title{margin-bottom: 10px;}

    .profile-info .avatar{
        overflow: visible;
    }
    .profile-info .avatar img{
        border-radius: 50%;
        -webkit-border-radius: 50%;
    }
    .price-list .edit-form .holder{
        min-height: 190px;
    }
    .price-list .item .row{
        margin: 0 -11px;
    }
    .price-list .info{
        padding: 0 11px 100px;
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-moz-min-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {
    .feedbacks .stars > .star > .fill-star{
        background-image: url("../assets/images/star_feedback@2x.png");
    }
    .free-quote-modal .modal-content .close > span {
        background: url(../assets/images/cross@2x.png) no-repeat;
        background-size: 50px 50px;
    }
    .scroll-icon .icon-desktop{
        background-image: url("../assets/images/scroll_down@2x.png");
        background-size: 30px 40px;
    }
    footer .social-icons .icon.facebook{
        background-image: url("../assets/images/fb@2x.png");
        background-size: 24px 25px;
    }
    footer .social-icons .icon.instagram{
        background-image: url("../assets/images/inst@2x.png");
        background-size: 25px 25px;
    }
    footer .social-icons .icon.twitter{
        background-image: url("../assets/images/twit@2x.png");
        background-size: 26px 22px;
    }
    .scroll-icon .icon-mobile{
        background-image: url("../assets/images/arrow_down@2x.png");
        background-size: 12px 16px;
    }
    .info .price .dollar{
        background-image: url("../assets/images/price_ic@2x.png");
        background-size: 22px 22px;
    }
    .info .user-rating .stars>.star{
        background-image: url("../assets/images/star_unfilled_rate@2x.png");
    }
    .info .user-rating .stars>.star>.fill-star{
        background-image: url("../assets/images/star_rate@2x.png");
        vertical-align: top;
    }
    .feedbacks .stars > .star{
        background-image: url("../assets/images/star_unfilled_feedback@2x.png");
    }
    .feedbacks .stars>.star>.fill-star{
        background-image: url("../assets/images/star_feedback@2x.png");
        vertical-align: top;
    }
    .navbar-default .navbar-nav .message-lt{
        background: url("../assets/images/message@2x.png") no-repeat;
        background-size: 25px 18px;
        margin-top: 10px;
    }
    footer.footer-dark .social-icons .icon.facebook{
        background-image: url("../assets/images/fb_white@2x.png");
    }
    footer.footer-dark .social-icons .icon.instagram{
        background-image: url("../assets/images/inst_white@2x.png");
    }
    footer.footer-dark .social-icons .icon.twitter{
        background-image: url("../assets/images/twit_white@2x.png");
    }
    .message-controls .delete i{
        background-image: url("../assets/images/delete@2x.png");
    }
    .message-controls .archive i{
        background-image: url("../assets/images/archive@2x.png");
    }
    .message-controls .confirmed i{
        background-image: url("../assets/images/confirmed@2x.png");
    }
    .profile-card .video-icon{
        background-image: url("../assets/images/video_icon@2x.png");
        background-size: 22px 18px;
    }
    .enq-icon.icon-date{
        background-image: url("../assets/images/date@2x.png");
    }
    .enq-icon.icon-timing{
        background-image: url("../assets/images/timing@2x.png");
    }
    .enq-icon.icon-location{
        background-image: url("../assets/images/location@2x.png");
    }
    .enq-icon.icon-event{
        background-image: url("../assets/images/event@2x.png");
    }
    .enq-icon.icon-client{
        background-image: url("../assets/images/client@2x.png");
    }
    .act .ico.edit{
        background-image: url("../assets/images/edit@2x.png");
        background-size: 28px 27px;
    }
    .act .ico.delete{
        background-image: url("../assets/images/delete-light@2x.png");
        background-size: 27px 26px;
    }
    .act .ico.question{
        background-image: url("../assets/images/question@2x.png");
        background-size: 28px 28px;
    }
    .requirement-form .btn-close{
        background-image: url("../assets/images/close-modal@2x.png");
        background-size: 28px 28px;
    }
    .requirement-form .item-trash{
        background-image: url("../assets/images/remove-item@2x.png");
        background-size: 15px 15px;
    }
    .note .btn-close{
        background-image: url("../assets/images/close@2x.png");
        background-size: 12px 12px;
    }
    .requirements .add-box .btn{
        background-image: url("../assets/images/add-req@2x.png");
        background-size: 28px 28px;
    }
    .calendar .add:after{
        background-image: url("../assets/images/add-entry@2x.png");
        background-size: 20px 20px;
    }
    .message-form .btn-upload:before{
        background-image: url("../assets/images/upload@2x.png");
        background-size: 12px 15px;
    }
    .chat-room .block-list .confirm:before{
        background-image: url("../assets/images/confirmed@2x.png");
        background-size: 18px 18px;
    }
    .navbar-default .navbar-right .profile .dropdown-menu li:after,
    .navbar-default .navbar-right .profile-dropdown .dropdown-menu li:after{
        background-size: 18px 18px;
    }
    .navbar-default .orange_dashboard:after{
        background: url('../assets/images/dashboard@2x.png') no-repeat;
    }
    .navbar-default .orange_edit:after{
        background: url('../assets/images/edit-orange@2x.png') no-repeat;
    }
    .navbar-default .orange_logout:after{
        background: url('../assets/images/log_out@2x.png') no-repeat;
    }
    .navbar-default .orange_profile:after{
        background: url('../assets/images/profile@2x.png') no-repeat;
    }
    .navbar-default .orange_settings:after{
        background: url('../assets/images/settings@2x.png') no-repeat;
    }
    .header-background .set-background .ico{
        background: url('../assets/images/change_photo@2x.png') no-repeat;
        background-size: 24px 22px;
    }
    .profile-info .set-avatar .ico{
        background: url('../assets/images/change_photo@2x.png') no-repeat;
        background-size: 24px 22px;
    }
    .profile-info .info .set-categories .ico{
        background: url('../assets/images/edit_categories@2x.png') no-repeat;
        background-size: 20px 20px;
    }
    .btns-list .btn-add.photo .ico{
        background: url('../assets/images/change_photo@2x.png') no-repeat;
        background-size: 18px 16px;
    }
    .btns-list .btn-add.video .ico{
        background: url('../assets/images/change_video@2x.png') no-repeat;
        background-size: 18px 16px;
    }
    .edit-form .options-list .btn-option.edit .ico{
        background: url('../assets/images/edit_blue@2x.png') no-repeat;
        background-size: 18px 17px;
    }
    .edit-form .options-list .btn-option.remove .ico{
        background: url('../assets/images/delete_blue@2x.png') no-repeat;
        background-size: 18px 17px;
    }
    .edit-form .options-list .btn-option.check .ico{
        background: url('../assets/images/done-blue@2x.png') no-repeat;
        background-size: 18px 17px;
    }
    .promo-view .logo{
        background: url('../assets/images/logo-black@2x.png') no-repeat;
        background-size: 275px 124px;
    }
    .recovery-form .notify-list li:after{
        background: url('../assets/images/checkmark_recovery_password@2x.png') no-repeat;
        background-size: 19px 14px;
    }
    .settings .btn-edit{
        background: url('../assets/images/edit-darkgray@2x.png') no-repeat;
        background-size: 24px 24px;
    }
    .custom-checkbox label:after{
        background: url('../assets/images/yes@2x.png') no-repeat;
        background-size: 17px 17px;
    }
    .free-quote-modal .modal-content .close > span,
    .modal.add-entry .modal-content .close > span{
        background: url('../assets/images/close@2x.png');
        background-size: 12px 12px;
    }
    i.pound {
        background: url(../assets/images/pound_ic@2x.png);
        background-size: cover;
    }
    i.available {
        background: url(../assets/images/available@2x.png);
    }
    i.escrow {
        background: url(../assets/images/escrow@2x.png);
    }
    i.bookings {
        background: url(../assets/images/bookings@2x.png);
    }
    .flex_1 .avatar {
        background-image: url(../assets/images/client_payment_profile@2x.jpg);
    }
    .placeholder_with_image_area .background__image {
        background-image: url(../assets/images/rocket@2x.png);
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .price-list .video iframe {
        height: 255px;
    }

    /*promo view styles start*/
    .promo-view {
        position: relative;
        color: #3d4248;
    }

    .promo-view .holder {
        overflow: hidden;
        position: absolute;
        text-align: center;
        left: 0;
        width: 100%;
        top: 50%;
        -webkit-transform: translate3d(0, -50%, 0);
        -moz-transform: translate3d(0, -50%, 0);
        -ms-transform: translate3d(0, -50%, 0);
        -o-transform: translate3d(0, -50%, 0);
        transform: translate3d(0, -50%, 0);
    }

    .promo-view .logo {
        background: url("../assets/images/logo-black.png") no-repeat;
        overflow: hidden;
        margin: 0 auto 70px;
        text-indent: -9999px;
        width: 275px;
        height: 124px;
    }

    .promo-view h2 {
        font-size: 26px;
        line-height: 32px;
        margin: 0 0 15px;
    }

    .recovery-form {
        margin: 0 auto 10px;
        max-width: 420px;
        padding: 0 10px;
    }

    .recovery-form .row {
        position: relative;
        margin: 0 0 20px;
    }

    .recovery-form .box {
        /*padding-right: 50px;*/
        position: relative;
        width: 90%;
    }

    .recovery-form input[type='text'],
    .recovery-form input[type='password'],
    .recovery-form input[type='email'],
    .recovery-form input[type='tel'] {
        height: 40px;
        border: 2px solid #eee;
        width: 100%;
        -webkit-border-radius: 8px;
        border-radius: 8px;
        background: white;
        font-size: 18px;
        padding: 0 40px 0 10px;
        outline: none;
        color: #eee;
    }

    .recovery-form label {
        font-size: 14px;
        line-height: 18px;
        margin: 0 0 5px;
        font-weight: normal;
    }

    .recovery-form .ico {
        position: absolute;
        right: 10px;
        top: 50%;
        margin: -10px 0 0;
        font-size: 18px;
        background: none;
        border: none;
        padding: 0;
        line-height: 20px;
        outline: none;
        box-sizing: content-box;
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
    }

    .recovery-form .ico.closest {
        margin-top: 2px;
    }

    .recovery-form .ico.active .showing {
        display: none;
    }

    .recovery-form .ico.active .hidden {
        display: block !important;
        margin: 2px 0 0;
    }

    .recovery-form .notify-list {
        list-style: none;
        margin: 0 0 10px;
        padding: 0;
    }

    .recovery-form .notify-list li {
        padding: 0 0 10px 30px;
        position: relative;
    }

    .recovery-form .notify-list li.active {
        opacity: 0.5;
    }

    .recovery-form .notify-list li:after {
        content: "";
        position: absolute;
        left: 0;
        top: 2px;
        background: url('../assets/images/checkmark_recovery_password.png') no-repeat;
        height: 14px;
        width: 19px;
    }

    .recovery-form .controls {
        float: none;
        margin: 0 0 10px;
        padding: 0;
    }

    .recovery-form .controls .button-gradient {
        border-radius: 24px;
        -webkit-border-radius: 24px;
        margin: 0;
    }

    .recovery-form .controls .btn {
        font-size: 18px !important;
        width: auto !important;
        height: 40px !important;
        font-weight: bold;
        min-width: 180px;
    }

    .recovery-form .go-back {
        color: #3d4248;
        font-size: 16px;
        line-height: 20px;
        text-decoration: underline;
    }

    .recovery-form .go-back:hover {
        text-decoration: none;
    }
}