.modal-content .close {
    position: absolute;
    height: 29px;
    width: 29px;
    top: -14px;
    right: -14px;
    border-radius: 50%;
    background: #F2F2F2;
    opacity: 1;
    font-size: 21px;
    outline: none!important;
}

.modal-content .close > span {
    color: #959595;
}


/** GRADIENT BUTTONS **/
.controls {
    position: relative;
    float: left;
    height: 100%;
    padding-left: 8px;
    padding-top: 128px;
}

.controls .button-gradient.follow {
    margin-right: 15px;
    margin-bottom: 10px;
}

.controls .button-gradient .btn {
    width: 132px;
    height: 27px;
    border-radius: 16px;
    background: #fff;
    font-size: 11px;
    font-family: LatoRegular;
    color: #4b4b4b;
    transition-property: all;
    transition-duration: 0.2s;
}

.controls>.button-gradient.filled {
    padding: 0;
}

.controls .button-gradient.filled .btn {
    background: transparent;
    font-size: 10px;
    color: #fff;
    height: 32px;
    width: 137px;
    transition-property: all;
    transition-duration: 0.2s;
}

.controls .button-gradient.filled .btn:active {
    background: rgba(255, 255, 255, 0.7);
    color: rgba(75, 75, 75, 0.64);
}

.controls .button-gradient .btn,
.controls .button-gradient .btn:hover,
.controls .button-gradient .btn:focus{
    outline:none!important;
    box-shadow: none!important;
}

.controls .button-gradient .btn:active {
    background: rgba(255, 255, 255, 0);
    color: white;
}

.controls .button-gradient {
    padding: 2px;
    border-radius: 16px;
    display: inline-block;
    margin-right: 8px;

    background: rgb(255,173,108); /* Old browsers */
    background: -moz-linear-gradient(left,  rgba(255,173,108,1) 0%, rgba(255,117,58,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(255,173,108,1) 0%,rgba(255,117,58,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(255,173,108,1) 0%,rgba(255,117,58,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}






.button-gradient.blue {
    background: rgb(88,149,243);
    background: -moz-linear-gradient(left, rgba(88,149,243,1) 0%, rgba(73,79,199,1) 100%);
    background: -webkit-linear-gradient(left, rgba(88,149,243,1) 0%,rgba(73,79,199,1) 100%);
    background: linear-gradient(to right, rgba(88,149,243,1) 0%,rgba(73,79,199,1) 100%);
}
.button-gradient.orange {
    background: rgb(255,173,108);
    background-image: -moz-linear-gradient(left,  rgba(255,173,108,1) 0%, rgba(255,117,58,1) 100%);
    background-image: -webkit-linear-gradient(left,  rgba(255,173,108,1) 0%,rgba(255,117,58,1) 100%);
    background-image: linear-gradient(to right,  rgba(255,173,108,1) 0%,rgba(255,117,58,1) 100%);
}