.categories-menu {
    margin-top: 16px;
    margin-bottom: 24px;
    border-bottom: 2px solid rgba(216, 216, 216, 0.11);
}
.categories-menu li.active {
    border-bottom: 4px solid #ff793e;
    margin-bottom: -4px;
}
