/*artist selection styles start*/
.artist-selection{
    padding: 30px 0 70px;
    min-height: 550px;
}
.tabs-block .slider{
    position: relative;
    z-index: 1;
}
.tabs-block .slider .bx-viewport{
    height: auto !important;
}
.tabs-block{
    position: relative;
    padding: 0 20px;
    margin: 0 0 20px;
    font-size: 12px;
}
.tabs-block .bg-line{
    position: absolute;
    left: -500px;
    bottom: 0;
    right: -500px;
    height: 2px;
    background: #337ab7;
    background: rgba(51, 122, 183, .4);
    z-index: 0;
}
.tabs-block .list{
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
}
.tabs-block .list li{
    float: left;
    border-radius: 8px 8px 0 0;
    -webkit-border-radius: 8px 8px 0 0;
    position: relative;
    width: auto !important;
}
.tabs-block .list li.active{z-index: 1;}
.tabs-block .list li.active-slide{z-index: 1;}
.tabs-block .list li:before{
    content: "";
    border: 2px solid #337ab7;
    border-bottom: 0;
    position: absolute;
    left: -1px;
    right: -1px;
    top: 0;
    bottom: 0;
    border-radius: 9px 9px 0 0;
    -webkit-border-radius: 9px 9px 0 0;
    z-index: 0;
}
.tabs-block .list li.active:before{
    background: #ff793e;
    border-color: #ff793e;
}
.tabs-block .list li:first-child:before{left:0;}
.tabs-block .list .add-event:before{border: none;}
.tabs-block .list .add-event a:after{
    position: relative;
    display: inline-block;
    vertical-align: top;
    background: url("../../assets/images/add-cross.png") no-repeat;
    width: 17px;
    height: 16px;
    content: "";
    margin: 2px 5px 0;
}
.tabs-block .list a{
    color: #000;
    display: block;
    padding: 5px 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    z-index: 1;
    position: relative;
}
.tabs-block .list li.active a{color: #fff;}
.tabs-block .list a:hover,
.tabs-block .list a:active,
.tabs-block .list a:focus{text-decoration: none;}
.tab{
    display: none;
    font-size: 12px;
}
.tab.active{display: block;}
.tabs-block .btn-prev,
.tabs-block .btn-next,
.tabs-block .btn-next-fake{
    position: absolute;
    right: 0;
    top: 7px;
    text-indent: -9999px;
    background: url("../../assets/images/arrow-gray-r.png") no-repeat;
    width: 17px;
    height: 16px;
    overflow: hidden;
}
.tabs-block .btn-prev{
    left: 0;
    right: auto;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.tabs-block .btn-prev a,
.tabs-block .btn-next a{
    display: block;
    height: 100%;
}
.tabs-block .btn-prev .disabled,
.tabs-block .btn-next .disabled{cursor: default;}
.tabs-block .btn-next-fake{display: none;}
.tabs-block .btn-next-fake.active{display: block;}
.tab .categories-list:after{
    content: "";
    clear: both;
    display: block;
}
.tab .categories-list{
    list-style: none;
    margin: 0 0 20px;
    padding: 0;
}
.tab .categories-list li{
    float: left;
    padding: 0 0 10px 46px;
}
.tab .categories-list a{
    padding-bottom: 10px;
    position: relative;
    color: #3d4248;
}
.tab .categories-list a:hover{
    color: #ff793e;
    text-decoration: none;
}
.tab .categories-list a:active,
.tab .categories-list a:focus{
    outline: none;
    text-decoration: none;
}
.tab .categories-list a:after{
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    bottom: 0;
    background: #ff793e;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    -ms-transition: width 0.3s;
    -o-transition: width 0.3s;
    transition: width 0.3s;
}
.tab .categories-list li.active a:after{
    width: 100%;
}
.category-tab{display: none;}
.category-tab.active{display: block;}
.category-tab .artists-list{
    list-style: none;
    margin: 0;
    padding: 0;
    color: #636363;
}
.category-tab .artists-list > li{
    border-bottom: 1px solid #d8d8d8;
    padding: 20px 0;
    overflow: hidden;
    color: #575757;
}
.category-tab .artists-list > li:first-child{border-top: 1px solid #d8d8d8;}
.category-tab .artists-list .img-box{
    overflow: hidden;
    float: left;
    width: 134px;
    height: 134px;
    border-radius: 78px;
    -webkit-border-radius: 78px;
    margin: 20px 0 0 0;
}
.category-tab .artists-list .img-box img{
    display: block;
    height: auto;
    width: 100%;
}
.category-tab .artists-list .row{
    margin: 0 0 7px;
}
.category-tab .artists-list .stars{
    display: inline-block;
    vertical-align: bottom;
    list-style: none;
    margin: 0 5px 0 0;
    padding: 0;
    height: 22px;
}
.category-tab .artists-list .star{
    width: 18px;
    height: 18px;
    display: inline-block;
    background: url("../../assets/images/star_unfilled_rate.png") no-repeat 0 100%;
    background-size: 13px 13px;
}
.category-tab .artists-list .full-star{
    display: inline-block;
    width: 0;
    height: 100%;
    background: url("../../assets/images/star_rate.png") no-repeat 0 100%;
    background-size: 13px 13px;
}
.category-tab .artists-list .title,
.category-tab .artists-list .rating{
    display: inline-block;
    vertical-align: bottom;
    margin: 0 20px 0 0;
    color: #464646;
}
.category-tab .artists-list .title{
    font-size: 20px;
}
.category-tab .artists-list .rating{
    font-weight: normal;
}
.category-tab .artists-list .controls .button-gradient.filled .btn{font-size: 11px;}
.category-tab .request-title-list{
    list-style: none;
    margin: 0 0 5px;
    padding: 0;
    overflow: hidden;
}
.category-tab .request-title-list li{
    float: left;
    padding-right: 20px;
    position: relative;
}
.category-tab .request-title-list li:after{
    content: "";
    left: -11px;
    top: 9px;
    width: 4px;
    height: 4px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    position: absolute;
    background: #636363;
}
.category-tab .artists-list .place{
    font-style: normal;
}
.category-tab .text-box{
    margin-bottom: 10px;
}
.category-tab .text-box p{margin: 0;}
.category-tab .options-list{
    list-style: none;
    margin: 0 0 -35px 0;
    padding: 0;
    color: #3d4248;
    position: relative;
}
.category-tab .options-list li{
    font-family: LatoBold;
    margin: 0 0 5px;
}
.category-tab .options-list li:first-child{
    font-size: 14px;
    margin-bottom: 7px;
}
.category-tab .options-list .green{color: #59A856;}
.category-tab .options-list .orange{color: #ff793E;}
.category-tab .options-list li span{
    font-size: 14px;
    color: #3d4248;
}
.category-tab .controls{padding: 0;}
.category-tab .controls .button-gradient{margin-right: 34px;}
.category-tab .button-gradient.filled .btn{height: 32px !important;}
.category-tab .button-gradient .btn{
    height: 28px !important;
    padding: 0 12px;
}
.category-tab .btn-remove{
    background: none;
    border: none;
    padding: 0;
    margin-top: 16px;
}
.category-tab .btn-remove:focus{outline: none;}
.category-tab .btn-remove .ico{
    background: url("../../assets/images/delete-light.png") no-repeat 50%;
    width: 18px;
    height: 18px;
    display: inline-block;
    vertical-align: top;
    margin: 1px 4px 0 0;
}
.artist-selection .select2{
    font-size: 12px;
    margin: 0 0 15px;
    width: 96% !important;
}
.artist-selection .select2-container--default .select2-selection--single,
.artist-selection .select2-container--default .select2-selection--single .select2-selection__rendered,
#select2-tabs_type-results{
    font-size: 12px;
}
/*detail form styles start*/
.detail-form.main-form{
    border: 0;
    border-top: 3px solid #000;
    border-top: 3px solid rgba(0, 0, 0, .05);
    padding: 20px 0 0;
}
.detail-form .textarea{
    margin: 0 0 11px;
    padding: 5px 15px;
    height: 110px;
    min-width: 100%;
    max-height: 230px;
    min-height: 90px;
    background: #fff;
    border: 2px solid #f1f1f1;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    outline: none;
    width: 100%;
    max-width: 100%;
}
.detail-form .textarea:-ms-input-placeholder{color: rgba(0, 0, 0, 0.21);}
.detail-form .miscellaneous-list{right: 0;}
.detail-form .heading{
    margin: 0 0 28px;
    font: 14px LatoBold;
    line-height: 20px;
}
.info-frame{
    margin: 0 0 15px;
    padding: 0 0 20px 60px;
    position: relative;
}
.info-frame:after{
    content: "";
    position: absolute;
    bottom: 0;
    height: 2px;
    background: #000;
    background: rgba(0, 0, 0, .05);
    left: 60px;
    right: 0;
}
.info-frame .header{
    height: auto;
    margin: 0 0 12px;
    font-size: 12px;
    line-height: 18px;
}
.info-frame .header h2{
    margin: 0;
    font: 14px LatoBold;
    line-height: 22px;
}
.info-frame .header .time,
.info-frame .header .price{
    font-style: normal;
    font-weight: bold;
}
.info-frame .header .price{margin-top: 4px;}
.info-frame .header .time span,
.info-frame .header .price span{font-weight: normal;}
.info-frame .header .note{font-size: 12px;}
.info-frame .list{
    list-style: none;
    padding: 0;
    margin: 0;
}
.info-frame .list li{margin: 0 0 15px;}
.info-frame .list dl,
.info-frame .list dd{margin: 0;}
.info-frame .des-list{
    font-size: 12px;
}
.info-frame .list dt{
    font-size: 12px;
    margin: 0 0 5px;
}
.info-frame .des-list dt{
    float: left;
    font-weight: normal;
    max-width: 100px;
    margin: 0 3px 5px 0;
}
.info-frame .des-list dd{
    overflow: hidden;
    margin: 0 0 5px;
}
.info-frame .des-list .text{margin-right: 20px;}
.info-frame .controls{
    float: none;
    padding: 0;
}
.info-frame .controls .btn{font-size: 14px !important;}
.info-frame .controls .button-gradient{margin: 0 !important;}
/*detail form styles end*/
/*media styles start*/
@media (max-width: 1199px){
    .category-tab .options-list li span{font-size: 14px;}
    .category-tab .controls{text-align: center;}
    .category-tab .controls .button-gradient{margin: 0 17px 17px 0;}
    .category-tab .artists-list .img-box{
        width: 130px;
        height: 130px;
    }
}
@media (max-width: 991px){
    .category-tab .artists-list > li{padding-bottom: 1px;}
    .category-tab .controls{text-align: center;}
    .category-tab .options-list{margin-left: -38px;}
    .tab .categories-list li{
        margin: 0 30px 20px 0;
        padding: 0 0 10px;
    }
    .category-tab .btn-remove{margin-top: 0;}
    .category-tab .artists-list .img-holder{
        padding: 0 15px 0 5px;
    }
    .category-tab .artists-list .img-box{
        margin: 0;
        width: 100%;
        height: auto;
    }
    .info-frame .header h2,
    .info-frame .header .price{
        float: none !important;
    }
}
@media (max-width: 767px){
    .artist-selection{padding: 0 0 40px;}
    .artist-selection .container{padding: 0;}
    .detail-form.main-form{padding: 20px 15px;}
    .detail-form .heading{margin: 0 0 20px;}
    .no-pull{float: none !important;}
    .info-frame{padding: 0 0 20px;}
    .info-frame:after{left: 0;}
    .category-tab .artists-list > li{
        padding: 10px;
        border-bottom: 0;
    }
    .category-tab .holder [class*=col-],
    .category-tab .options-list{padding: 0;}
    .category-tab .holder .options{
        float: none !important;
        border-top: 1px solid #d8d8d8;
        border-bottom: 1px solid #d8d8d8;
        padding: 5px 0 3px;
        margin-bottom: 4px;
    }
    .category-tab .artists-list .row{margin: 0 0 2px;  }
    .category-tab .options-list{margin: 0;}
    .category-tab .options-list li:first-child,
    .category-tab .options-list li{
        font-size: 12px;
        margin: 0 0 4px;
    }
    .category-tab .artists-list .place{
        display: block;
        margin: 0 0 6px;
    }
    .tab .categories-list{display: none;}
    .category-tab .btn-box{
        text-align: left;
        position: absolute;
        right: 0;
        top: 0;
    }
    .category-tab .artists-list .img-holder{padding: 4px 10px 0 0;}
    .category-tab .artists-list .title{
        font-size: 17px;
        margin: 0 0 6px;
        padding: 0 80px 0 0;
        width: 100%;
    }
    .category-tab .artists-list .star{width: 14px;}
    .category-tab .artists-list .rating{margin: 0;}
    .category-tab .artists-list > li{border-top: 1px solid #d8d8d8;}
}
@media (max-width: 399px){
    .artist-selection .controls>.button-gradient:not(.filled)>.btn{width: 127px !important;}
    .artist-selection .controls>.button-gradient.filled>.btn{width: 132px !important;}
    .category-tab .artists-list .resolve,
    .category-tab .holder .options,
    .category-tab .request-title-list,
    .category-tab .artists-list .place{margin-left: -20%;}
    .category-tab .request-title-list{padding-top: 8px;}
}
/*media styles end*/
/*artist selection styles end*/