.no-padding{padding: 0;}
.message-form .upload-box:after{
    clear: both;
    display: block;
    content: '';
}
.chat-room{
    color: #3d4248;
    margin: 0 0 50px;
}
.chat-room .main-title{
    font: 22px LatoBold;
    border-bottom: 1px solid #ff753a;
    color: #ff753a;
    margin: 0 0 15px;
    padding: 0 0 15px;
    text-align: center;
}
.chat-room .border-b{
    border-bottom: 3px solid #000;
    border-bottom: 3px solid rgba(0, 0, 0, .05);
}
.miscellaneous-list{
    position: absolute;
    right: 0;
    top: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 12px;
    color: #000;
    color: rgba(0,0,0,.67);
}
.chat-room .miscellaneous-list{top: 57px;}
.miscellaneous-list li{
    float: left;
    padding: 0 0 0 31px;
}
.miscellaneous-list a{
    color: #000;
    color: rgba(0,0,0,.67);
}
.miscellaneous-list .fa{margin:0 10px 0 -21px;}
.chat-room .wrap{
    position: relative;
}
.chat-room .title{
    font-family: LatoBold;
    font-size: 14px;
    padding: 0 130px;
    margin: 0 0 10px;
    text-align: center;
    color: #502346;
}
.chat-room .quote-section .title{
    margin: 0 0 18px;
}
.detail-form{
    overflow: hidden;
    padding: 0 0 5px;
    font-size: 16px;
    border-bottom: 3px solid #000;
    border-bottom: 3px solid rgba(0, 0, 0, .05);
}
.detail-form .frame{margin: 0 0 11px;}
.detail-form label{
    margin-left: 3px;
    font-family: LatoRegular;
    cursor: pointer;
    font-size: 12px;
}
.detail-form input[type="text"],
.detail-form input[type="email"],
.detail-form input[type="password"]{
    border: none;
    background: #f1f1f1;
    height: 30px;
    padding: 0 12px;
    font-size: 12px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    outline: none;
    width: 100%;
}
.detail-form .holder [class^=col-lg-]{padding: 0 23px 0 0;}
.detail-form .holder [class^=col-lg-].pull-right{padding: 0 0 0 22px;}
.detail-form .map-holder{height: 133px;}
.detail-form #map{
    height: 80%;
    width: 100%;
    margin: 0 0 5px;
}
.detail-form .map-holder .gmnoprint,
.detail-form .map-holder [src^='http://maps.gstatic.com/mapfiles/api-3/images/google4.png'],
.detail-form .map-holder [src^='http://maps.gstatic.com/mapfiles/api-3/images/google4_hdpi.png']{display: none;}
.detail-form .map-holder .note{
    display: inline-block;
    vertical-align: top;
    font-style: normal;
    font-size: 12px;
    color: #000;
    color: rgba(0, 0, 0, .3);
}
.detail-form .list{padding: 7px 0 18px;}
.detail-form .list [class^=col-lg-]{padding: 0 20px 0 0;}
.chat-room .v-frame{
    height: 396px;
    display: table;
    overflow: hidden;
    width: 100%;
}
.chat-room .v-box {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.chat-room .v-box .box{
    width: 176px;
    margin: 0 auto;
}
.chat-room .v-frame .note{
    font-size: 14px;
    font-style: normal;
    display: inline-block;
    vertical-align: top;
    min-height: 50px;
    margin-bottom: 10px;
}
.chat-room .controls{
    height: auto;
    float: none;
    padding: 0 7px;
}
.chat-room .controls .button-gradient.filled{
    margin: 0;
    width: 100%;
}
.chat-room .controls .btn{
    font-size: 12px !important;
    padding-top: 4px !important;
    height: 30px !important;
    width: 100% !important;
}
.chat-room .info-block{
    padding: 17px 10px 7px;
    font-size: 12px;
    color: #000;
    color: rgba(0, 0, 0, .87);
}
.chat-room .block-list{
    list-style: none;
    margin: 0;
    padding: 0 12px;
}
.chat-room .block-list > li{
    margin: 0 0 9px;
}
.chat-room .block-list dl{
    overflow: hidden;
    margin: 0;
}
.chat-room .block-list dt{
    float: left;
    max-width: 150px;
    margin-right: 12px;
    font-weight: normal;
}
.chat-room .block-list .bold{font-family: LatoBold;}
.chat-room .block-list .confirm{
    color: #489442;
    position: relative;
}
.chat-room .block-list .confirm:before{
    display: inline-block;
    vertical-align: top;
    background: url("../../assets/images/confirmed.png");
    width: 18px;
    height: 18px;
    content: "";
    margin: 0 7px 0 0;
}
.chat-room .block-list dd{
    overflow: hidden;
    margin: 0;
}
.chat-room .block-list.alt dt{
    max-width: 100%;
    width: 75px;
}
.chat-room .block-list.alt dd{font-size: 11px;}
.chat-room .block-list.alt a{
    margin-right: 21px;
    color: #000;
    color: rgba(0, 0, 0, .48);
}
#twocolumns{
    overflow: hidden;
    padding: 24px 0 0 42%;
}
#twocolumns .col-2{
    float: left;
    margin-left: -72%;
    position: relative;
    width: 65%;
    overflow: hidden;
}
#twocolumns .col-1{
    overflow: hidden;
    width: 100%;
    height: 1%;
    float: right;
}
.message-form .btn-upload{
    background: #f1f1f1;
    border: none;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    overflow: hidden;
    padding: 0 20px;
    height: 28px;
    font-size: 12px;
    outline: none;
    display: inline-block;
    vertical-align: top;
    color: #000;
    color: rgba(0, 0, 0, .67);
    position: relative;
    margin-right: 10px;
    max-width: 150px;
    min-width: 113px;
}
.message-form .btn-upload:before{
    content: "";
    background: url("../../assets/images/upload.png") no-repeat;
    width: 12px;
    height: 15px;
    margin: -2px 10px 0 -7px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
}
.message-form .btn-upload:active{
    background: #f7f7f7;
    background: rgba(247, 247, 247, 1);
}
.message-form  .jFiler-items{
    display: block;
    overflow: hidden;
    width: 100%;
    padding: 19px 0 0;
}
.message-form .items-list{
    list-style: none;
    margin: 0;
    padding: 0;
}
.message-form .items-list li{
    float: left;
    margin: 0 4px 7px;
    position: relative;
    width: 76px;
    height: 76px;
    overflow: hidden;
}
.message-form  .jFiler-item-thumb-image{
    height: 58px;
    width:76px;
    margin: 0 auto;
    text-align: center;
}
.message-form  .jFiler-item-thumb-image img{
    display: block;
    height: 100%;
    width: 100%;
}
.message-form .jFiler-item-title{
    display: block;
    font-size: 12px;
    text-align: center;
    font-weight: normal;
    text-transform: lowercase;
}
.message-form .jFiler-item-title b{font-weight: normal;}
.message-form .item-trash{
    position: absolute;
    right: -1px;
    top: -2px;
    background: url("../../assets/images/remove-item.png") no-repeat;
    width: 15px;
    height: 15px;
    cursor: pointer;
}
.message-form .jFiler-icon-file{
    position: relative;
    width: 46px;
    height: 58px;
    display: inline-block;
    vertical-align: top;
    line-height: 58px;
    text-align: center;
    border-radius: 3px;
    color: #fff;
    font-family: sans-serif;
    font-size: 10px;
    font-weight: normal;
    overflow: hidden;
    box-shadow: #3f4fd3 36px -46px 0 0 inset;
    -webkit-box-shadow: #3f4fd3 36px -46px 0 0 inset;
}
.message-form .jFiler-icon-file:after{
    position: absolute;
    top: -1px;
    right: -1px;
    display: inline-block;
    content: '';
    border-style: solid;
    border-width: 13px 0 0 13px;
    border-color: transparent transparent transparent #DADDE1;
}
.message-form .jFiler-icon-file.f-file-ext-html{
    box-shadow: #abea7a 36px -46px 0 0 inset;
    -webkit-box-shadow: #abea7a 36px -46px 0 0 inset;
}
.message-form .jFiler-icon-file.f-file-ext-js{
    box-shadow: #4952d4 36px -46px 0 0 inset;
    -webkit-box-shadow: #4952d4 36px -46px 0 0 inset;
}
.message-form .jFiler-icon-file.f-file-ext-txt{
    box-shadow: #709c27 36px -46px 0 0 inset;
    -webkit-box-shadow: #709c27 36px -46px 0 0 inset;
}
.message-form .jFiler-icon-file.f-file-ext-json{
    box-shadow: #e83ace 36px -46px 0 0 inset;
    -webkit-box-shadow: #e83ace 36px -46px 0 0 inset;
}
.message-form .jFiler-icon-file.f-file-ext-pdf{
    box-shadow: #f23c0f 36px -46px 0 0 inset;
    -webkit-box-shadow: #f23c0f 36px -46px 0 0 inset;
}
.message-form .icon-jfi-file-image,
.message-form .icon-jfi-file-video,
.message-form .icon-jfi-file-audio{
    color: #fff;
    font: normal normal normal 14px/1 FontAwesome;
    display: inline-block;
    vertical-align: middle;
}
.message-form .icon-jfi-file-image:before{
    content: '\f1c5';
}
.message-form .icon-jfi-file-video:before{
    content: '\f1c8';
}
.message-form    .icon-jfi-file-audio:before{
    content: '\f1c7';
}
.message-form .frame{
    margin-bottom: 17px;
    position: relative;
}
.message-form .input[type="text"],
.message-form .textarea{
    background: #fff;
    border: 2px solid #f1f1f1;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    outline: none;
    padding: 0 15px;
    width: 100%;
    max-width: 100%;
}
.message-form .textarea{
    margin: 0 0 11px;
    padding: 5px 15px;
    height: 110px;
    min-width: 100%;
    min-height: 110px;
    max-height: 350px;
}
.message-form .textarea.tall{
    height: 290px;
    max-height: 420px;
}
.message-form .controls{
    width: 160px;
    position: absolute;
    right: 0;
    top: -2px;
    padding: 0;
}
.message-form .controls .btn{font-size: 14px;}
.message-form .upload-box{
    padding: 0 0 15px;
    margin: 0 0 20px;
    position: relative;
    border-bottom: 3px solid #000;
    border-bottom: 3px solid rgba(0, 0, 0, .05);
}
.message-form h3{
    margin: 0 0 10px;
    font-size: 13px;
    color: #000;
}
select.full-width + .select2{
    width: 100% !important;
    margin: 0;
}
.select2 .main-select{
    height: 30px !important;
    border-radius: 8px;
    -webkit-border-radius: 8px;
}
.select2 .main-select .select2-selection__rendered{
    line-height: 30px;
    font-size: 12px;
}
.select2 .main-select .select2-selection__arrow{
    height: 30px;
}
.select2-container--default .select2-results>.select2-results__options.main-select{
    font-size: 12px;
    border: none !important;
}
.message-form .select2{
    margin: 0;
    width: 220px !important;
}
.message-form .select2-selection--single.custom{
    background: #fff !important;
    border: 2px solid #eee;
    height: 32px !important;
    border-radius: 8px;
    -webkit-border-radius: 8px;
}
.message-form .select2-selection--single .select2-selection__rendered{
    line-height: 28px;
    font-size: 12px;
}
.message-form .select2-container--default .select2-selection--single .select2-selection__arrow{top: 4px;}
.select2-results__options.custom{font-size: 12px;}
.chat-room .comments-list{
    list-style: none;
    margin: 0;
    padding: 0;
    color: #000;
    color: rgba(0, 0, 0, .87);
    max-height: 570px;
    overflow: auto;
}
.chat-room .comments-list li{
    margin: 0 0 20px;
    overflow: hidden;
}
.chat-room .comments-list li.right .img-holder{
    float: right;
    margin: 0 0 0 20px;
}
.chat-room .comments-list li.active .img-holder{
    border: 2px solid #ff735a;
}
.chat-room .comments-list p{margin: 0 0 10px;}
.chat-room .comments-list .img-holder{
    float: left;
    width: 50px;
    height: 50px;
    overflow: hidden;
    margin-right: 11px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
}
.chat-room .comments-list .img-holder img{
    display: block;
    height: auto;
    width: 100%;
}
.chat-room .comments-list .holder{
    overflow: hidden;
    position: relative;
    padding-left: 20px;
}
.chat-room .comments-list li.right .holder{padding: 0 11px 0 0;}
.chat-room .comments-list .box{
    background: #f1f1f1;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    padding: 11px 18px;
    position: relative;
    font-size: 12px;
}
.chat-room .comments-list .box:after{
    content: "";
    position: absolute;
    top: 22px;
    left: -27px;
    border: 14px solid transparent;
    border-right: 14px solid #f1f1f1;
}
.chat-room .comments-list li.right .box:after{
    left: auto;
    right: -13px;
    border-right: transparent;
    border-left: 14px solid #f1f1f1;
}
.chat-room .comments-list .date{
    font-style: normal;
    font-size: 11px;
    color: #000;
    color: rgba(0, 0, 0, .67);
}
.chat-room .btn-back{
    position: absolute;
    left: 0;
    font-size: 12px;
    top: 6px;
    color: #fff;
    z-index: 1;
    background: #ff753a;
    padding: 2px 10px 3px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
}
.chat-room .btn-back:hover,
.chat-room .btn-back:focus{text-decoration: none;}
.chat-room .btn-back:active{background: #f58859;}
.chat-room .quote-section .holder{
    max-height: 497px;
    overflow: auto;
    padding-left: 37px;
}
.chat-room .quote-section .price-list{
    margin: 0;
    padding-left: 10px;
}
.chat-room .quote-section .price-list li{
    border-bottom: 0;
    border-top: 2px solid #f2efef;
    padding-top: 18px;
}
.chat-room .quote-section .price-list li:first-child{
    padding-top: 0;
    border-top: 0;
}
.chat-room .quote-section .package-name{
    margin: 0 0 8px;
    padding: 8px 10px 10px;
    font: 15px LatoBold, Serif, sans-serif;
    color: #fff;
}
.chat-room .quote-section .price-list .col:after{
    border: none;
}
.chat-room .quote-section input[type="text"],
.chat-room .quote-section input[type="email"],
.chat-room .quote-section input[type="password"]{
    height: 28px;
    font-size: 14px;
    background: #fff;
}
.chat-room .quote-section .text-box{
    margin: 0 0 18px;
    font-size: 13px;
}
.chat-room .quote-section .text-box h3{
    font: 14px LatoBold, Serif, sans-serif;
    margin: 0 0 10px;
}
.chat-room .quote-section .controls{
    margin: 0 auto;
    width: 150px;
}
.chat-room .quote-section .controls .btn{
    font-size: 13px;
    text-transform: uppercase;
}
@media (max-width: 1199px){
    .chat-room .quote-section .price-list .col,
    .chat-room .quote-section .price-list .col:first-child{
        padding: 0;
        width: 100%;
    }
    .chat-room .quote-section .custom-checkbox.small{
        margin-bottom: 8px;
    }
}
@media (max-width: 991px){
    .chat-room .title{
        font-size: 17px;
        padding: 0 110px;
    }
    .chat-room .miscellaneous-list li{padding-left: 19px;}
    .chat-room .miscellaneous-list .fa{margin: 0 5px 0 -13px;}
    .message-form .controls{width: 110px;}
}
@media (max-width: 767px){
    .chat-room > .container{padding: 0;}
    .chat-room .wrap{padding: 0 20px;}
    .chat-room .main-title{
        font-size: 18px;
        margin: 0 0 10px;
        padding: 0 0 10px;
    }
    .chat-room .btn-back{
        display: none;
        left: 20px;
        top: 6px;
    }
    .detail-form .holder [class^=col-lg-]{padding: 0;}
    .detail-form .holder [class^=col-lg-].pull-right{
        float: none !important;
        padding: 0;
    }
    .detail-form .map-holder{
        padding-top: 20px;
        margin: 0 0 10px;
        height: 163px;
    }
    .chat-room .v-frame{
        height: auto;
        padding: 0 0 20px;
        border-bottom: 3px solid #000;
        border-bottom: 3px solid rgba(0, 0, 0, .05);
    }
    .chat-room .title{
        font-size: 16px;
        margin: 7px 0;
        padding: 0;
    }
    .detail-form .row [class^=col-lg-]:first-child .title{margin: 28px 0 7px;}
    .chat-room .v-frame .note{
        min-height: 100%;
        font-size: 14px;
    }
    .chat-room .controls .btn{
        font-size: 14px !important;
    }
    .chat-room .miscellaneous-list{
        right: 20px;
        top: 46px;
    }
    .detail-form .list{padding: 10px 0;}
    .detail-form .list [class^=col-lg-]{padding: 0 0 10px;}
    .chat-room .info-block{
        padding: 17px 20px 7px;
    }
    .chat-room .block-list > li{margin: 0 0 10px;}
    .chat-room .block-list{padding: 0;}
    #twocolumns{padding: 20px;}
    #twocolumns .col-1,
    #twocolumns .col-2{
        float: none;
        margin: 0;
        width: 100%;
    }
    .message-form .textarea{height: 120px;}
    .message-form .textarea.tall{height: 400px;}
    .chat-room .comments-list li{margin: 0 0 20px;}
    .chat-room .comments-list .img-holder{margin-right: 0;}
    .chat-room .comments-list li.right .img-holder{margin-left: 0;}
    .message-form .upload-box{padding: 0 0 17px;}
    .message-form .btn-upload{
        padding: 0 10px;
        min-width: 80px;
        max-width: 100px;
    }
    .message-form .select2{width: 100% !important;}
    .chat-room .quote-section{
        padding-top: 12px;
    }
    .chat-room .quote-section .holder{
        padding: 0;
        max-height: 100%;
        overflow: auto;
    }
    .chat-room .quote-section .price-list .col,
    .chat-room .quote-section .price-list .col:first-child{
        width: 50%;
    }
}
@media (max-width: 599px){
    .chat-room .quote-section .price-list .col,
    .chat-room .quote-section .price-list .col:first-child{
        width: 100%;
    }
}