.enquiries {
    padding-bottom: 38px;
    min-height: 450px;
}

.enquiries .categories-menu {
    position: relative;
}

/*.enquiries .categories-menu:after{*/
    /*content: "";*/
    /*position: absolute;*/
    /*left: 0;*/
    /*right: 0;*/
    /*bottom: 0;*/
    /*height: 1px;*/
    /*background-color: #a5a5a5;*/
/*}*/

.enq-icon {
    width: 14px;
    height: 14px;
    display: inline-block;
    vertical-align: middle;
    margin-top: -4px;
    position: relative;
}

.enq-block {
    position: relative;
    min-height: 120px;
    margin-bottom: 26px;
    padding-bottom: 11px;
    border-bottom: 2px solid #e7e7e7;
}

.enq-block:last-of-type {
    border-bottom: none;
}

.act-request-data li {
    font-family: LatoRegular;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.68);
    margin-bottom: 6px;
}

.act-request-data li span {
    font-size: 13px;
    font-family: LatoBold;
    color: rgba(0, 0, 0, 0.86);
}

.act-request {
    min-height: 100%;
    padding: 0 0 30px;
    position: relative;
}

.act-request .controls {
    height: auto;
    padding: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.act-request .controls>.button-gradient.filled>.btn {
    font-size: 13px!important;
    height: 26px!important;
}

.act-request .controls>.button-gradient .btn {
    font-size: 13px!important;
    height: 23px!important;
    padding: 0 23px;
    width: auto!important;
}

.act-request .controls>.button-gradient {
    margin: 0 15px!important;
}

.enq-icon.icon-date {
    background: url("../../assets/images/date.png") no-repeat center;
    background-size: cover;
}

.enq-icon.icon-timing {
    background: url("../../assets/images/timing.png") no-repeat center;
    background-size: cover;
}

.enq-icon.icon-location {
    background: url("../../assets/images/location.png") no-repeat center;
    background-size: cover;
}

.enq-icon.icon-event {
    background: url("../../assets/images/event.png") no-repeat center;
    background-size: cover;
}

.enq-icon.icon-client {
    background: url("../../assets/images/client.png") no-repeat center;
    background-size: cover;
}

.act-request-title {
    font-family: LatoRegular;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.68);
    display: inline;
}

.act-request-title .bold-title {
    font-family: LatoBold;
    color: rgba(0, 0, 0, 0.86);
}

.act-request-title .see-more {
    color: rgba(0, 0, 0, 0.6);
    font-size: 11px;
    font-family: LatoRegular;
}

.act-request-title .see-more a {
    text-decoration: underline;
    color: rgba(0, 0, 0, 0.6);
}

.act-request-title .see-more a:hover{
    text-decoration: none;
}

.act-request-quotation-label {
    font-family: LatoRegular;
    font-size: 12px;
    color: #FFF;
    background: #A5DE8C;
    display: inline-block;
    margin: 0 0 0 10px;
    padding: 0 4px 0 4px;
    border-radius: 4px;
}

.act-request-message span.text {
    font-family: LatoRegular;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.87);
    line-height: 17px;
    max-height: 34px;
    overflow: hidden;
}

.act-request-message span.title {
    font-size: 11px;
    color: rgba(0, 0, 0, 0.69);
}

.act-request .show-more-btn {
    font-family: LatoRegular;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.68);
}

.received-time {
    font-family: LatoRegular;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.68);
    position: absolute;
    right: 0;
}

.enquiries .container {
    padding: 0!important;
}

.enquiries-wrap {
    padding: 0 15px;
}

/*booking styles start*/
.bookings .categories-menu:after{
    content: none;
}
.bookings .note{
    font-family: LatoRegular;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.68);
    position: absolute;
    right: 0;
    font-style: normal;
    letter-spacing: 0;
}
.bookings .note.green b{color: #489442;}
.bookings .note.blue b{color: #494fc7;}
.bookings .note.orange b{color: #ff735a;}
.act-request-list{
    margin: 0;
    font-size: 13px;
    color: #000;
    color: rgba(0, 0, 0, 0.68);
}
.act-request-list dt{
    float: left;
    margin: 0 5px 0 0;
    font-weight: normal;
    min-width: 48px;
    max-width: 100px;
}
.act-request-list dd{
    overflow: hidden;
    margin: 0 0 8px;
}
.act-request-list ul{
    list-style: none;
    margin: 0;
    padding: 0 160px 0 0;
}
.act-request-list ul li{
    margin: 0 0 10px;
}
.act-request-list ul li:last-child{margin: 0;}
.act-request-list .bold{
    color: rgba(0, 0, 0, 1);
    font-weight: normal;
    font-family: LatoBold;
}
.bookings .act-request .controls{text-align: left;}
.bookings .act-request .button-gradient{margin: 0 40px 0 0 !important;}
.bookings .select2{margin: 0 0 30px;}
/*booking styles end*/

.enquiries .quote-btn.grayed {
    background: #DFE0E0;
}
.enquiries .quote-sended {
    background: #A5DE8C;
}

.quotation-send-success-modal .modal-content {
    background-color: #FFF;
    border-radius: 11px;
    height: 183px;
    width: 297px;
}

@media (max-width: 767px) {
    .act-request .controls .button-gradient:not(:last-of-type) {
        margin-bottom: 11px!important;
    }

    .act-request {
        padding: 0 0 105px;
    }

    .enquiries {
        padding-bottom: 11px;
        min-height: 338px;
    }

    .act-request-title,
    .received-time,
    .act-request-message span.title,
    .act-request-data li span,
    .act-request-data li {
        font-size: 10px;
    }

    .act-request-data {
        margin-bottom: 23px!important;
    }

    .act-request-title {
        margin-bottom: 23px;
    }

    .act-request-message span.text {
        font-size: 11px;
    }
    .bookings .select2 .select2-selection__rendered,
    #select2-booking-results{
        font-size: 11px !important;
    }

    .bookings .act-request{padding: 0 0 85px;}
    .bookings .act-request .controls{text-align: center;}
    .bookings .act-request .controls .btn{min-width: 150px;}
    .bookings .act-request .button-gradient{margin: 0 20px !important;}

    .act-request-list dt{
        float: none;
        max-width: 100%;
        min-width: 100%;
        margin: 0 0 4px;
    }
    .act-request-list ul{padding: 0;}
    .act-request-list ul li{margin: 0 0 4px;}
    .act-request-list dd{margin: 0 0 15px;}
}