footer {
    position: relative;
    padding-top: 39px;
    background: white;
}

footer .menus {
    margin-bottom: 45px;
}

footer .copyright {
    text-align: center;
    color: #a6a6a6;
    font-size: 9px;
    padding-bottom: 15px;
    margin: 0;
}

footer .social-icons {
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    margin-top: -22px;
}

footer .social-icons ul {
    padding: 0;
}

footer .social-icons ul>li {
    list-style-type: none;
    display: inline-block;
    width: 44px;
    height: 44px;
    background: white;
    border-radius: 22px;
    margin: 0 20px;
}

footer .social-icons .icon {
    width: 44px;
    height: 44px;
}

footer .social-icons .icon.facebook {
    background-image: url("../../assets/images/fb.png");
    background-repeat: no-repeat;
    background-position: center;
}

footer .social-icons .icon.instagram {
    background-image: url("../../assets/images/inst.png");
    background-repeat: no-repeat;
    background-position: center;
}

footer .social-icons .icon.twitter {
    background-image: url("../../assets/images/twit.png");
    background-repeat: no-repeat;
    background-position: center;
}

footer.footer-dark .social-icons .icon.facebook {
    background-image: url("../../assets/images/fb_white.png");
    background-repeat: no-repeat;
    background-position: center;
}

footer.footer-dark .social-icons .icon.instagram {
    background-image: url("../../assets/images/inst_white.png");
    background-repeat: no-repeat;
    background-position: center;
}

footer.footer-dark .social-icons .icon.twitter {
    background-image: url('../../assets/images/twit_white.png');
    background-repeat: no-repeat;
    background-position: center;
}

footer .menus ul {
    padding-left: 45%;
}

footer .menus ul>li {
    list-style-type: none;
    margin-bottom: 5px;
}

footer .menus ul>li.title {
    font-family: LatoBold;
    font-size: 14px;
    color: #808080;
}

footer .menus ul>li>a {
    font-family: LatoRegular;
    font-size: 12px;
    color:  #999999;
    text-decoration: none;
}

footer .menus ul>li>a:hover {
    text-decoration: underline;
}



footer.footer-dark {
    background-color: #222428;
}

footer.footer-dark .social-icons ul>li {
    background-color: #222428;
}

@media (max-width: 991px) {
    footer .menus ul {
        padding-left: 33%;
    }
}

@media (max-width: 767px) {
    footer .menus ul {
        padding-left: 38%;
        padding-bottom: 15px;
    }
}

@media (max-width: 400px) {
    footer .social-icons ul > li {
        margin: 0 15px;
    }
}