.mbYTP_wrapper {
    position: absolute!important;
}

header {
    height: 409px;
    position: relative;
}

header.search {
    height: 368px;
}

header.home {
    height: 100vh;
    position: relative;
}

header.small {
    max-height: 54px;
}

header.small .navbar {
    background: #2228A3!important;
}

.navbar-brand>img {
    width: 70px;
}

.home.header-background {
    background: url("../../assets/images/bg.jpg") no-repeat center;
    /*background: transparent;*/
    background-size: cover;
}

.home.header-background .video {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: -100;
    overflow: hidden;
}

.home.header-background .video iframe {
    position: relative;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.header-background.edit{background: url('../../assets/images/band-bg.png') no-repeat;}
.header-background .header-block {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 80%;
    text-align: center;
}
.home.header-background .header-block {
    max-width: 376px;
}

.search.header-background .header-block {
    max-width: 578px;
}

.home.header-background .background-panel {
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background: rgba(68, 78, 232, 0.49);
}

.header-background .set-box{
    right: 5%;
    top: 15%;
    position: absolute;
}

.header-background .set-background{
    /*position: absolute;*/
    /*right: 0;*/
    /*top: 0;*/
    float: right;;
    background: none;
    font-size: 16px;
    border: none;
    margin: 2px 0 0;
    color: #fff;
    cursor: pointer;
    padding: 0;
    width: 24px;
    height: 22px;
    text-align: center;
}

.header-background .set-background .ico{
    display: block;
    background: url("../../assets/images/change_photo.png") no-repeat;
    width: 24px;
    height: 22px;
    background-size: cover;
}

.header-background .set-box .note{
    font-style: normal;
    font-size: 12px;
    float: right;
    vertical-align: middle;
    padding: 1px;
    border-radius: 4px;
    margin-top: 4px;
    margin-right: 5px;
    -webkit-border-radius: 4px;
    opacity: 0;
    -webkit-transition: opacity .3s;
    -moz-transition: opacity .3s;
    -ms-transition: opacity .3s;
    -o-transition: opacity .3s;
    transition: opacity .3s;
    background: rgb(255,173,108);
    background-image: -moz-linear-gradient(left,  rgba(255,173,108,1) 0%, rgba(255,117,58,1) 100%);
    background-image: -webkit-linear-gradient(left,  rgba(255,173,108,1) 0%,rgba(255,117,58,1) 100%);
    background-image: linear-gradient(to right,  rgba(255,173,108,1) 0%,rgba(255,117,58,1) 100%);
}
.header-background .set-box .note span{
    background: #fff;
    padding: 0 6px;
    display: block;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
.header-background .set-box .set-background:hover + .note{opacity:1;}

.header-block h2 {
    font-family: UbuntuBold;
    font-size: 38px;
    color: #fff;
    margin-bottom: 55px;
}

.search .header-block h2 {
    font-size: 30px;
    margin-bottom: 24px;
    margin-top: 26px;
}

.header-block input.search-input {
    line-height: 17px;
    text-align: center;
    width: calc(100% - 52px);
    height: 34px;
    border: none;
    outline: none!important;
    border-radius: 19px;
    padding: 7px 11px;
    margin-right: 14px;
    font-family: LatoRegular;
    font-size: 15px;
    color: #3d4248;
}

.header-block .wrapper {
    width: calc(100% - 50px);
    display: inline-block;
    float: left;
    height: 32px;
    border-radius: 16px;
    background: white;
    overflow: hidden;
}

.header-block .wrapper input {
    float: left;
    /*line-height: 29px;*/
    height: 31px;
    width: 35%;
    color: rgba(61, 66, 72, 0.53);
    font-family: LatoRegular;
    font-size: 12px;
    border: none;
    outline: none;
    padding-left: 15px;
    padding-right: 8px;
}

.header-block .wrapper .select2-container--default .select2-selection--single {
    border-radius: 0;
    height: 32px;
    background-color: transparent;
}

.header-block .wrapper .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 32px;
    color: rgba(61, 66, 72, 0.53);
    font-family: LatoRegular;
    font-size: 12px;
}

.header-block .wrapper .select2 {
    width: 161px!important;
    float: left;
    margin-right: 0px;
}

.header-block .wrapper .select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 3px;
}

.header-block .wrapper + .btn {
    margin-top: -2px;
}

.header-block .wrapper + .btn span {
    display: none;
}

.header-block .wrapper .divider {
    display: inline-block;
    width: 1px;
    height: 24px;
    position: relative;
    float: left;
    top: 4px;
    background: #BEC0C2;
}

.header-block .btn {
    font-size: 13px;
    margin-top: -5px;
    border: none;
    outline: none!important;
    border-radius: 50%;
    height: 34px;
    width: 34px;
    padding: 0;
    background: rgba(255,117,58,1);
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    color: white;
}

.header-block .btn .fa {
    position: relative;
    top: -1px;
}

.header-background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
    background: url("../../assets/images/bg.jpg") no-repeat center;
    background-size: cover;
}
.header-background>.background-stripe {
    position: absolute;
    bottom: 0;
    height: 109px;
    background-color: rgba(0,0,0,.4);
    width: 100%;
}

.navbar {
    border-radius: 0;
    height: 54px;
    background-color: rgba(59,68,235,0.49);
    margin: 0;
    z-index: 11;
    border: none;
}

.modal-open .navbar {
    background-color: rgb(34, 40, 163)!important;
}

.navbar>.container-fluid {
    position: relative;
    top: 9px;
    padding: 0;
}

.navbar>.container-fluid .navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 18px;
    padding-right: 17px;
    color: #fff;
    margin-left: 0;
    position: relative;
    height: 100%;
    display: block;
}

.navbar-default .navbar-nav>li>a {
    color: white;
}


.navbar-default .navbar-nav .message-lt{
    width: 25px;
    height: 18px;
    display: block;
    background: url("../../assets/images/messages.png") no-repeat;
}

.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    font-family: LatoRegular;
    font-size: 14px;
    color: #fff;
    outline: none!important;
}

.navbar-toggle,
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    border: none;
    background: transparent;
}

.navbar-toggle .icon-bar {
    background-color: white!important;
}

.navbar-default .navbar-nav>li>a{
    padding: 0;
    margin-top: 8px;
    margin-right: 23px;
}

.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>li:not('.mail')>a:hover {
    background: transparent;
    color: white;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover{
    background-color: transparent;
    color: white;
}

.navbar-default .navbar-nav>li>a:hover .underline {
    width: 100%;
}

.navbar-default .avatar{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 13px;
}

.navbar-default .navbar-right {
    margin-right: 26px;
}

.navbar-default .navbar-right>li.profile .dropdown-menu{
    right: -40%;
}

.navbar-default .navbar-right>li.profile .dropdown-menu li,
.navbar-default .navbar-right>li.profile-dropdown .dropdown-menu li,
.navbar-header .profile-dropdown .dropdown-menu li{
    position: relative;
    margin: 0 0 0 5px;
}
.navbar-default .navbar-right .profile .dropdown-menu a,
.navbar-default .navbar-right .profile-dropdown .dropdown-menu a,
.navbar-header .profile-dropdown .dropdown-menu a{
    position: relative;
    z-index: 1;
    padding-left: 33px;
}
.navbar-default .navbar-right .profile .dropdown-menu li:after,
.navbar-default .navbar-right .profile-dropdown .dropdown-menu li:after,
.navbar-header .profile-dropdown .dropdown-menu li:after{
    content: "";
    width: 18px;
    height: 18px;
    position: absolute;
    left: 4px;
    top: 4px;
    margin-right: 4px;
    z-index: 2;
}

.navbar-header .orange_dashboard:after,
.navbar-default .orange_dashboard:after{
    background: url('../../assets/images/dashboard.png') no-repeat;
}
.navbar-header .orange_edit:after,
.navbar-default .orange_edit:after{
    background: url('../../assets/images/edit-orange.png') no-repeat;
}
.navbar-header .orange_profile:after,
.navbar-default .orange_logout:after{
    background: url('../../assets/images/log_out.png') no-repeat;
}
.navbar-header .orange_settings:after,
.navbar-default .orange_profile:after{
    background: url('../../assets/images/profile.png') no-repeat;
}
.navbar-header .orange_settings:after,
.navbar-default .orange_settings:after{
    background: url('../../assets/images/settings.png') no-repeat;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover{
    color: white;
    background: transparent;
}

.navbar-default .navbar-right .mail>.badge {
    position: absolute;
    /*right: 18px;*/
    left: 15px;
    top: 2px;
    height: 16px;
    /*width: 10px;*/
    font-size: 10px;
    line-height: 12px;
    background-color: #ff735a;
    padding: 1px 5px;
    border: 1px solid rgb(59,68,235);
    z-index: 1;
}


.navbar-header .profile-dropdown .dropdown-menu,
.navbar-nav>li>.dropdown-menu {
    margin-top: 10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.navbar .navbar-header .profile-dropdown {
    display: none;
}

@media (max-width: 1200px) {
    .navbar-default .navbar-left>li>a {
        margin-right: 15px;
    }
}

@media (max-width: 991px){
    .navbar-nav .profile-dropdown{display: block !important;}
    .header-background .set-box{top: 20%;}
}

@media (max-width: 849px) {

    header {
        height: 300px;
    }

    header.home {
        position: relative;
    }

    .navbar .navbar-header .profile-dropdown {
        position: relative;
        display: inline-block;
        float: right;
        margin-top: 4px;
        margin-right: 8px;
    }

    .navbar .navbar-header .profile-dropdown > a {
        font-family: LatoBold;
        font-size: 12px;
        color: #fff;
        outline: none !important;
        text-decoration: none;
    }

    .navbar-default .navbar-right .profile{overflow: hidden;}
    .navbar-default .navbar-right .profile .dropdown-menu,
    .navbar-default .navbar-right .profile-dropdown .dropdown-menu{
        position: relative;
        left: auto;
        border: none;
        top: auto;
        bottom: auto;
        right: auto !important;
        min-width: 100%;
        float: none;
        box-shadow: none;
    }

    .navbar-default .navbar-right > li > a,
    .navbar-default .navbar-left > li > a {
        font-size: 11px;
        color: grey;
    }

    .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
        color: grey;
        background: transparent;
    }

    .navbar-nav > li.dropdown {
        margin-top: 8px;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: grey;
        font-family: LatoBold;
        font-size: 11px;
    }

    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        margin-top: 2px;
        margin-bottom: 18px;
        margin-right: 19px;
        display: block;
    }

    .navbar-default .avatar {
        margin-left: 0;
    }

    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
        position: relative;
        top: -7px;
        border: none;
        background-color: white;
        padding-bottom: 8px;
        -webkit-box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.5);
        -moz-box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.5);
        box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.5);
    }
    .navbar-nav {
        float: none!important;
        margin: 0 11px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 8px;
        padding-bottom: 8px;
    }
    .navbar-text {
        float: none;
        margin: 11px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in {
        display: block!important;

    }

    .collapsing {
        overflow: hidden!important;
        position: relative;
        top: -6px;
        border: none;
        background-color: white;
        padding-bottom: 8px;
        -webkit-box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.5);
        -moz-box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.5);
        box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.5);
    }

    .navbar-default .navbar-nav>.active>a,
    .navbar-default .navbar-nav>li>a:hover,
    .navbar-default .navbar-nav>.active>a:focus,
    .navbar-default .navbar-nav>.active>a:hover,
    .navbar-default .navbar-nav>.active>a:after{
        color: grey!important;
        border: none;
    }

    .navbar>.container-fluid .navbar-brand {
        padding: 3px 23px 4px;
    }

    .navbar-brand>img {
        display: block;
        width: 64px;
    }

    .navbar-default .navbar-nav li a:focus {
        color: grey!important;
        font-size: 11px;
    }
}

@media (max-width: 767px) {
    .navbar .navbar-header .profile-dropdown {
        display: none;
    }

    .search .header-block h2 {
        font-family: UbuntuBold;
        font-size: 15px;
        margin-bottom: 11px;
        margin-top: 0px;
    }

    .header-block .wrapper {
        width: 100%;
    }

    .header-block .wrapper + .btn {
        font-size: 13px;
        border-radius: 16px;
        height: 32px;
        width: 100%;
        background: rgba(255,117,58,1);
        color: white;
        top: 8px;
        position: relative;
        -webkit-transform: scaleX(1);
        -moz-transform: scaleX(1);
        -ms-transform: scaleX(1);
        -o-transform: scaleX(1);
        transform: scaleX(1);
    }

    .header-block .wrapper + .btn i {
        display: none;
    }

    .header-block .wrapper + .btn span {
        display: block;
        font-size: 11px;
        font-family: LatoRegular;
        color: #fff;
    }

    .header-block .wrapper {
        overflow: visible;
        background: transparent;
        display: inline-table;
    }

    .header-block .wrapper input {
        width: 100%;
        border-radius: 16px;
        text-align: center;
    }

    .header-block .wrapper .select2 {
        width: 100%!important;
    }

    .header-block .wrapper .select2-container--default .select2-selection--single {
        background: white;
        border-radius: 16px;
        margin-top: 8px;
    }

    .header-block .wrapper .divider {
        display: none;
    }

    .header-block .wrapper .select2-container--default .select2-selection--single .select2-selection__arrow {
        top: 13px;
    }

    .header-block .wrapper .select2-container--default .select2-selection--single .select2-selection__rendered {
        text-align: center;
    }

    .header-block .wrapper .select2-container--open .select2-selection--single {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    .navbar-toggle{margin-bottom: 17px;}
}

@media (max-width: 720px) {
    .header-background .set-box{
        top: 34%;
        font-size: 14px;
    }
    header {
        height: 188px;
    }

    header.home {
        position: relative;
    }

    .header-block h2 {
        font-size: 26px;
        margin-bottom: 30px;
    }

    .header-block input {
        font-size: 13px;
    }

    .header-background>.background-stripe {
        height: 75px;
    }

    .navbar>.container-fluid {
        padding: 0 0px;
    }
}

@media (max-width: 400px) {

    .header-block input {
        font-size: 11px;
    }

    .header-background>.background-stripe {
        height: 56px;
    }
}
