.how-it-works {  }

.how-it-works h2 {
    color: #3d4248;
    font-size: 40px;
    font-family: UbuntuBold;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 30px;
}

.how-it-works .container {
    margin-bottom: 83px;
}

.how-it-works .categories-menu {
    display: inline-block;
}

.how-it-works .tabs ul li {
    margin: 0 38px;
    display: inline-block;
}

.how-it-works .tabs ul li > a {
    font-size: 15px;
    color: #3d4248;
}

.how-it-works .tabs ul {
    padding:0px;
    margin: 32px 0 52px 0;
    display:inline-block;
}

.how-it-works .menu-block.active {
    border-bottom: 4px solid #ff793e;
}

.how-it-works .img-n {
    height: 250px;
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:center;
    background-size: contain !important;
}

.how-it-works .text-block {
    margin-top: 60px;
}

.how-it-works .text-block p:nth-of-type(1) {
    font-family: LatoBold;
    font-size: 16px;
    color: #000000;
    text-align: left;
    margin: 0 0 12px;
}

.how-it-works .text-block p:nth-of-type(2) {
    font-family: LatoRegular;
    font-size: 14px;
    color: #000000;
    line-height: 24px;
    text-align: justify;
}

.how-it-works .img-1 {
    background: url("/assets/images/Artboard 1.png") no-repeat center;
}
.how-it-works .img-2 {
    background: url("/assets/images/Artboard 2.png")no-repeat center;
}
.how-it-works .img-3 {
    background: url("/assets/images/Artboard 3.png") no-repeat center;
}
.how-it-works .img-4 {
    background: url("/assets/images/Artboard 4.png") no-repeat center;
}
.how-it-works .img-5 {
    background: url("/assets/images/Artboard 5.png") no-repeat center;
}
.how-it-works .img-6 {
    background: url("/assets/images/Artboard 6.png") no-repeat center;
}
.how-it-works .img-7 {
    background: url("/assets/images/Artboard 7.png") no-repeat center;
}
.how-it-works .img-8 {
    background: url("/assets/images/Artboard 8.png") no-repeat center;
}
.how-it-works .img-9 {
    background: url("/assets/images/Artboard 9.png") no-repeat center;
}
.how-it-works .img-10 {
    background: url("/assets/images/Artboard 10.png") no-repeat center;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 320px),
only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 320px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 320px),
only screen and (        min-device-pixel-ratio: 2)      and (min-width: 320px),
only screen and (                min-resolution: 192dpi) and (min-width: 320px),
only screen and (                min-resolution: 2dppx)  and (min-width: 320px) {

    .how-it-works .img-1 {
        background: url("/assets/images/Artboard 1@2x.png") no-repeat center;
    }
    .how-it-works .img-2 {
        background: url("/assets/images/Artboard 2@2x.png")no-repeat center;
    }
    .how-it-works .img-3 {
        background: url("/assets/images/Artboard 3@2x.png") no-repeat center;
    }
    .how-it-works .img-4 {
        background: url("/assets/images/Artboard 4@2x.png") no-repeat center;
    }
    .how-it-works .img-5 {
        background: url("/assets/images/Artboard 5@2x.png") no-repeat center;
    }
    .how-it-works .img-6 {
        background: url("/assets/images/Artboard 6@2x.png") no-repeat center;
    }
    .how-it-works .img-7 {
        background: url("/assets/images/Artboard 7@2x.png") no-repeat center;
    }
    .how-it-works .img-8 {
        background: url("/assets/images/Artboard 8@2x.png") no-repeat center;
    }
    .how-it-works .img-9 {
        background: url("/assets/images/Artboard 9@2x.png") no-repeat center;
    }
    .how-it-works .img-10 {
        background: url("/assets/images/Artboard 10@2x.png") no-repeat center;
    }
}

@media (min-width: 768px) {
    .how-it-works {
        text-align: center;
    }

    .how-it-works .container {
        width: 700px !important;
    }

    .how-it-works .img-n {
        margin-left: -50px;
    }
}

@media (max-width: 768px) {

    .how-it-works {
        text-align: center;
    }

    .how-it-works .img-n {
        text-align: center;
    }
}

@media (max-width: 1200px) {
    .how-it-works .text-block {
        margin-top: 0;
    }
}
