.login-modal .modal-dialog {
    margin-top: 113px;
    max-width: 421px;
}

.login-modal .modal-header {
    border-bottom: none;
    padding: 15px 11px 8px;
}

.login-modal .modal-title {
    font-family: UbuntuMedium;
    font-size: 27px;
    color: #3d4248;
    line-height: 35px;
    text-align: center;
}

.login-modal .modal-content .close {
    position: absolute;
    height: 29px;
    width: 29px;
    top: -14px;
    right: -14px;
    border-radius: 50%;
    background: #F2F2F2;
    opacity: 1;
    font-size: 21px;
    outline: none!important;
}

.login-modal .modal-content .close > span {
    color: #959595;
}

.login-modal .modal-body {
    padding: 0px 64px;
}

.login-modal .modal-body label {
    font-family: LatoRegular;
    font-size: 15px;
    color: #797979;
    line-height: 26px;
    margin-bottom: 2px;
}

.login-modal .modal-body input {
    box-shadow: none;
    outline: none;
    border-radius: 6px;
    border: 2px solid #EEEEEE;
    margin-bottom: 11px;
    font-family: LatoRegular;
    font-size: 14px;
    color: #4c4c4c;
    line-height: 21px;
    height: 32px;
}

.login-modal .controls {
    position: relative;
    float: none;
    height: 100%;
    padding-left: 0;
    padding-top: 20px;
    margin-bottom: 29px;
}

.login-modal .controls>.button-gradient.filled {
    padding: 0;
    left: 50%;
    position: relative;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    margin-right: 0px;
}

.login-modal .controls>.button-gradient.filled .btn {
    font-size: 15px;
    font-family: LatoRegular;
}

.login-modal .form-group {
    position: relative;
}

.login-modal .forgot-password {
    position: absolute;
    bottom: 9px;
    font-size: 11px;
    right: 20px;
    color: #797979;
}

.login-modal .recovery-form .tip {
    font-family: LatoRegular;
    font-size: 12px;
    line-height: 20px;
    color: #3d4248;
}

@media (max-width: 580px) {
    .login-modal .modal-dialog {
        width: 100%;
        height: 100%;
        max-width: none;
        margin: 0;
    }

    .login-modal .modal-content {
        border: none;
        height: 100%;
        padding-top: 53px;
    }

    .login-modal .modal-title {
        font-size: 20px;
    }

    .login-modal .modal-body {
        padding: 8px 34px;
    }

    .login-modal .controls>.button-gradient.filled .btn {
        height: 32px;
    }

    .login-modal .modal-body label {
        font-size: 17px;
    }

    .login-modal .modal-body input {
        font-size: 15px;
        height: 32px;
    }

    .login-modal .forgot-password {
        bottom: 8px;
        font-size: 11px;
        right: 9px;
    }

    .login-modal .modal-content .close {
        top: 74px;
        right: 15px;
        background: transparent;
    }
}

@media (max-width: 360px) {
    .login-modal .recovery-form .tip {
        font-size: 9px;
    }

    .login-modal .modal-content {
        border-radius: 0;
    }

    .login-modal .modal-title {
        font-size: 17px;
    }

    .login-modal .modal-body {
        padding: 8px 34px;
    }

    .login-modal .controls>.button-gradient.filled .btn {
        height: 32px;
    }

    .login-modal .modal-body label {
        font-size: 11px;
    }

    .login-modal .modal-body input {
        font-size: 9px;
        height: 21px;
    }

    .login-modal .forgot-password {
        bottom: 4px;
        font-size: 9px;
        right: 9px;
    }

    .login-modal .modal-content .close {
        top: 74px;
        right: 15px;
        background: transparent;
    }
}