.messages {
    padding-bottom: 75px;
    min-height: 450px;
}

.select2  {
    width: 135px!important;
    outline: none;
    margin-right: 14px;
}

.select2-container--default .select2-selection--single {
    outline: none;
    border: none;
    border-radius: 11px;
    height: 24px;
    background-color: #F1F1F1;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    padding: 0 11px;
    line-height: 24px;
    text-align: left;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 0;
    right: 6px;
}

.select2-container--open .select2-dropdown--below {
    border: none;
    background: transparent;
}

.select2-container--default .select2-results__option {
    background: #F1F1F1;
    padding: 5px 11px;
    border-bottom: 1px solid #E8E8E8;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #F1F1F1;
    color: #828387;
}

.select2-container--default .select2-results__option[aria-selected=true] {
    background-color: #F1F1F1;
    color: #828387;
}

.select2-container--default .select2-results__option:last-of-type {
    border-bottom-left-radius: 11px;
    border-bottom-right-radius: 11px;
    border: none;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #FF9758 transparent transparent transparent;
    border-width: 5px 5px 0 5px;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: transparent transparent #FF9758 transparent;
    border-width: 0 5px 5px 5px;;
}

.selections-white .select2-results__option {
    background: white!important;
}

.dialogs {
    margin-top: 23px;
}

.dialog-section {
    background: white;
    min-height: 38px;
    border-top: 1px solid rgba(0, 0, 0, 0.07);
    padding: 31px 0 0!important;
}

.dialog-section.new-message {
    background: #fafafa;
}

.dialog-section .message-info {
    background-color: #778eff;
    border-radius: 12px;
    height: 12px;
    width: 12px;
    margin: 19px 0 0 0;
    display: inline-block;
    vertical-align: top;
    opacity: 0;
}
.dialog-section .message-info.active {
    opacity: 1;
}

.dialog-section:last-of-type {
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
}

.dialog-section .message-block {
    width: calc(100% - 220px);
    display: inline-block;
    padding-bottom: 19px;
}

.dialog-section .avatar {
    width: 53px;
    display: inline-block;
    margin: 0 0 0 8px;
    vertical-align: top;
}

.dialog-section .avatar img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.dialog-section .user-info {
    width: 122px;
    display: inline-block;
    margin: 0 0 0 14px;
    vertical-align: top;
}

.dialog-section .controls {
    height: auto;
    padding: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: left;
}

.dialog-section .controls>.button-gradient.filled>.btn {
    font-family: LatoRegular;
    font-size: 15px;
    color: rgba(255, 255, 255, 1);
    height: 33px;
    width: 160px;
    line-height: 24px;
}

/*.dialog-section .controls>.button-gradient .btn {
    font-size: 11px!important;
    height: 23px!important;
    padding: 0 23px;
    width: auto!important;
}*/

.dialog-section .text-block {
    padding-bottom: 27px;
}

.message-controls i {
    display: inline-block;
    height: 18px;
    width: 18px;
    margin-right: 4px;
    background-size: cover!important;
    vertical-align: middle;
}

.message-controls ul li a,
.message-controls ul li {
    text-decoration: none;
    margin-bottom: 15px;
    color: rgba(0, 0, 0, 0.67);
    font-family: LatoRegular;
    font-size: 14px;
}

.message-controls .status {
    margin-bottom: 27px;
    font-family: LatoRegular;
    font-size: 14px;
}
.message-controls .ul-reset {
    float: right;
}

.message-controls .status.confirmed {
    color: #489442;
}
.message-controls .status.not-avaliable {
    color: #808080;
}
.message-controls .status.enquiry {
    color: #6872d4;
}
.message-controls .status.cancelled {
    color: #db6265;
}

.message-controls .confirmed i {
    background: url("../../assets/images/confirmed.png") no-repeat center;

}
.message-controls .not-avaliable i {
    background: url("../../assets/images/not-available.png") no-repeat center;
}
.message-controls .enquiry i {
    background: url("../../assets/images/enquiry.png") no-repeat center;
}
.message-controls .cancelled i {
    background: url("../../assets/images/cancelled.png") no-repeat center;
}

.message-controls .archive i {
    background: url("../../assets/images/archive.png") no-repeat center;
}

.message-controls .delete i {
    background: url("../../assets/images/delete.png") no-repeat center;
}

/*.message-controls .archive i {
    height: 14px;
    width: 14px;
}
.message-controls .delete i {
    height: 14px;
    width: 11px;
}*/

.message-block .message-controls {
    float: right;
    margin: 0 20px 0 0;
}

.user-info .user-name {
    font-size: 15px;
    font-family: LatoRegular;
    color: rgba(0, 0, 0, 0.87);
}

.user-info .time {
    font-size: 11px;
    font-family: LatoRegular;
    color: rgba(0, 0, 0, 0.67);
    float: left;
}

.message-block .message-heading {
    font-family: LatoRegular;
    font-size: 15px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.87);
}

.dialog-section.new-message .message-block .message-heading,
.dialog-section.new-message .message-block .text{
    font-weight: bold;
}

.message-block .text {
    margin-bottom: 30px;
    text-align: justify;
    font-family: LatoRegular;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.67);
    text-align: justify;
}

.controls-mobile {
    display: none;
    height: 0;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.messages .dialogs .dialog-rating-container {
    height: 147px;
    background-color: rgba(255, 253, 226, 1);
}
.messages .dialogs .dialog-rating-container .rating {
    display: inline-block;
    vertical-align: middle;
    padding: 0 0 0 9px;
}
.messages .dialogs .dialog-rating-container .message-info {
    padding: 13px 0 17px 15px;
    font-family: LatoRegular;
    font-size: 14px;
    color: rgba(0, 0, 0, 1);
}

.messages .dialogs .dialog-rating-container .message-block {
    margin: 0 0 0 61px;
}
.messages .dialogs .dialog-rating-container .message-block p {
    font-family: LatoRegular;
    font-size: 14px;
    color: rgba(99, 99, 99, 1);
    line-height: 21px;
    margin: 0;
}

.messages .dialogs .dialog-rating-container .messagse-info span:nth-of-type(2) {
    color: rgba(0, 0, 0, 0.87);
}
.messages .dialogs .dialog-rating-container .avatar,
.messages .dialogs .dialog-rating-container .user-info {
    display: inline-block;
}
.messages .dialogs .dialog-rating-container .user-info {
    padding: 0 0 0 13px;
}
.messages .dialogs .dialog-rating-container .user-info .user-name {
    color: rgba(0, 0, 0, 0.87);
    font-family: LatoRegular;
    font-size: 16px;
}
.messages .dialogs .dialog-rating-container .avatar {
    padding: 0 0 0 15px;
}
.messages .dialogs .dialog-rating-container .avatar img {
    height: 33px;
    width: 33px;
    border-radius: 50%;
}
.messages .only_text_placeholder {
        padding-top: 18px;
    }

@media (max-width: 767px) {
    .dialog-section  {
        width: 100%;
        display: block;
        clear: left;
        padding: 11px 0 4px!important;
    }
    .messages .only_text_placeholder {
        padding-top: 83px;
    }
    .dialog-section .avatar {
        width: 45px;
        height: 45px;
    }

    .dialog-section .wrap {
        padding: 0 9px;
    }

    .dialog-section .avatar img {
        width: 38px;
        height: 38px;
        margin-left: 0;
    }

    .dialog-section .message-block {
        width: calc(100% - 53px);
        display: inline-block;
        float: left;
        padding-bottom: 0px;
    }

    .dialog-section .user-info {
        width: calc(100% - 53px);
    }

    .user-info .user-name {
        font-size: 11px;
    }

    .user-info .time {
        font-size: 8px;
        line-height: 15px;
        float: right;
    }

    .dialog-section .text-block {
        padding: 0!important;
    }

    .message-block .text {
        max-height: 15px;
        overflow: hidden;
        text-overflow: ellipsis;
        word-wrap: break-word;
        word-break: break-all;
        white-space: nowrap;
        padding-right: 11px;
        margin-bottom: 0;
    }

    .message-controls ul li {
        margin-bottom: 0;
    }

    .message-controls .status {
        margin-bottom: 0;
    }

    .controls-mobile {
        display: block;
        overflow: hidden;
        height: 0;
    }

    .controls-mobile a {
        color: rgba(0, 0, 0, 0.67);
        text-decoration: none;
    }

    .controls-mobile.opened {
        border-top: 1px solid rgba(0, 0, 0, 0.18);
        display: block;
        height: 19px;
        padding-top: 4px;
        margin-top: 8px;
    }

    .controls-mobile li {
        display: inline-block;
        width: 50%;
        float: left;
        text-align: center;
    }

    .messages .select2 {
        width: 100%!important;
    }

    .messages .container {
        padding: 0!important;
    }

    .dialog-section.noselect {
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none;   /* Chrome/Safari/Opera */
        -khtml-user-select: none;    /* Konqueror */
        -moz-user-select: none;      /* Firefox */
        -ms-user-select: none;       /* IE/Edge */
        user-select: none;           /* non-prefixed version, currently
                                  not supported by any browser */
    }
}


