.placeholder_with_image_area {
    border: 2px dashed rgba(61, 66, 72, 1);;
    border-radius: 23px;
    box-sizing: border-box;
    font-family: "LatoRegular";
    margin: 10px auto;
    width: 562px;
    padding: 16px 65px 0;
}
.only_text_placeholder {
    color: rgba(18, 18, 18, .87);
    font-family: "LatoRegular";
    font-size: 14px;
    font-style: italic;
    text-align: center;
}
.placeholder_with_image_area p {
    font-size: 14px;
    margin: 0 0 1px;
    text-align: center;
}
.placeholder_with_image_area .controls {
    float: none;
    padding: 10px 0;
    text-align: center;
}
.placeholder_with_image_area .controls .button-gradient {
    margin-right: 0;
    padding: 2px;
}
.placeholder_with_image_area .controls .button-gradient .btn {
    box-sizing: border-box;
    color: rgba(24, 31, 161, .87);
    font-family: "LatoRegular";
    font-size: 14px;
    padding: 0px 36px;
    width: auto;
    height: auto;
}
.placeholder_with_image_area .background {
    position: relative;
    margin: 6px 10px 18px;
}
.placeholder_with_image_area .background::before {
    content: "";
    display: block;
    padding-top: 82.3%;
}
.placeholder_with_image_area .background__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url(../../assets/images/rocket.png);
}
@media (max-width: 767px) {
    .placeholder_with_image_area {
        width: 73.2%;
        min-width: 416px;
        padding: 16px 3.2% 0;
    }
    .placeholder_with_image_area .background {
        margin: 6px 12.5% 18px;
    }
}
@media (max-width: 520px) {
    .placeholder_with_image_area {
        padding: 11px 3.2% 0;
        min-width: 294px;
        width: 80%;
    }
}
@media (max-width: 320px) {
    .placeholder_with_image_area {
/*        padding: 11px 1px 0;*/
        width: 294px;
    }
}