article.tab {
    margin-left: 38px;
}

.qa .categories-menu {
    display: block;
    text-align: center;
}
.qa .categories-menu li { margin: 0 36px; }
.qa .categories-menu li.active { border-bottom: 4px solid #ff793e; margin-bottom: -4px; }
.qa .categories-menu li > a { font-size: 15px; color: #3d4248; padding-bottom: 17px; }

.qa {
    min-height: 651px;
    position: relative;
}
.qa > .container{
    height: 100%;
}

.qa .content{
    padding: 18px !important;
}

.qa .tabs-list{
    list-style: none;
    margin: 0;
    padding: 30px 0 0;
}
.qa .tabs-list li{
    position: relative;
}
.qa .tabs-list li span { font-size: 14px; font-family: LatoBold, Serif, sans-serif; }
.qa .tabs-list li i { font-size: 16px; margin-right: 6px; color: #C6C6C6; }
.qa .tabs-list li p { margin: 10px 0 22px 0; font-size: 14px; max-width: 623px; text-align: justify; }
.qa .tabs-list .active{
    background: #ff753a;
    background: rgba(255, 117, 58, .11);
}
.qa .tabs-list .active:after{
    content: '';
    position: absolute;
    right: -2px;
    width: 4px;
    height: 100%;
    top: 0;
    background: #ff753a;
}
.qa .tabs-list a{
    display: block;
    padding: 19px 20px 19px 34px;
    color: rgba(0, 0, 0, 0.87);
    font-size: 13px;
}
.qa .tabs-list a:hover,
.qa .tabs-list a:focus{
    text-decoration: none;
}
.qa .main-form{
    max-width: 600px;
    margin: 0;
}
.qa .row{
    margin: 0 0 30px;
}
.qa  #profile_settings .row{
    margin: 0 0 10px;
}
.qa .box{
    position: relative;
    overflow: hidden;
    float: left;
    padding: 0 10px;
    width: 350px;
}
.qa .box:first-child{width: 250px;}
.qa .box h2{
    font-size: 12px;
    margin: 0;
    width: 70%;
    line-height: 34px;
    color: #333;
    font-weight: 600;
    display: none;
    float: left;
}
.qa .box.active h2{display: block;}
.qa .info-label{
    display: inline-block;
    vertical-align: top;
    color: #756f6f;
    margin: 8px 0 0;
}

.qa .mail-block {
    position: absolute;
    right: 18px;
    height: 53px;
    width: 175px;
    background-color: #ebebeb;
    border-radius: 3px 0px 3px 0px;
}
.qa .mail-block > div {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    float: left;
}
.qa .mail-block > div:nth-of-type(1) { padding: 10px 14px 10px 10px; }

.qa .mail-block span {
    display: inline-block;
    width: 32px;
    height: 32px;
    background-color: #f26521;
    border-radius: 32px;
    vertical-align: middle;
    position: relative;
}

.qa .mail-block span > i {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    color: #FFF;
    font-size: 20px;
}
.qa .mail-block span > i:before {

}
.qa .mail-block p { padding: 0; margin: 0; }

.qa .mail-block-head { font-size: 12px; color: #3d4248; font-family: 'LatoRegular'; }
.qa .mail-block-email { font-size: 14px; color: #3d4248; font-family: 'LatoBold'; }

.qa .fa.fa-sort-desc {
    display: none;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translate3d(0, -50%, 0);
    color: rgba(255, 255, 255, 0.6);
}

@media (max-width: 375px) {
    .qa .tabs-list {

    }
}

@media (max-width: 767px) {
    .categories-menu li.menu-block {
        width: auto;
        line-height: 30px;
        padding: 0 0;
        border-bottom: none;
        text-align: center;
    }

    .qa .fa.fa-sort-desc {
        display: inline-block;
    }

    .qa > .container { margin-top: 83px; }
    .qa .mail-block { top: -53px; }
    .qa .categories-menu li { margin: 0 30px; }
    .qa .content{ padding: 20px 0 30px!important; position: inherit; }
    .qa .sidebar { border: none; position: inherit; }
    .qa .tabs-list { padding: 0; }
    .qa .tabs-list .active { background: #60a0ca; }
    .qa .tabs-list .active:after { width: 0; }
    .qa .tabs-list.tabs-menu li { max-height: 0; }
    .qa .tabs-list.tabs-menu li.active { display: block; max-height: 100px; }
    .qa .tabs-list.tabs-menu:hover li {
        max-height: 100px;
        transition-property: all;
        transition-duration: .8s;
        transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
        background: #60a0ca;
    }


    .qa .tabs-list a { font-family: LatoBold; color: rgba(255, 255, 255, 0.6); }
    .qa .main-form { max-width: 100%; }
    .qa .box {
        width: 100%;
        float: none;
        margin: 0 0 10px;
        text-align: left;
    }
    .qa .row{ margin:0; }
}