.registration-modal {
    margin-top: 56px;
}

.registration-modal #stage-1 {
    margin-bottom: 44px;
}

.registration-modal #stage-2 {
    padding-top: 5px;
}

.registration-modal .modal-dialog {
    width: 95%;
    max-width: 675px;
    margin-top: 15px;
}

.registration-modal .modal-dialog .modal-title {
    text-align: center;
    font-family: UbuntuMedium;
    font-size: 20px;
    color: #3d4248;
    line-height: normal;
}

.registration-modal .modal-header {
    padding: 10px 24px 0;
}

.registration-modal .modal-header,
.registration-modal .modal-footer {
    border: none;
}

.registration-modal .modal-content .close {
    position: absolute;
    height: 29px;
    width: 29px;
    top: -14px;
    right: -14px;
    border-radius: 50%;
    background: #F2F2F2;
    opacity: 1;
    font-size: 21px;
}

.registration-modal .modal-content .close > span {
    color: #959595;
}

.registration-modal .buttons {
    display: inline-block;
    width: 100%;
}

.registration-modal .buttons .btn {
    background: transparent;
    border-radius: 0;
    margin: 0;
    outline: none;
    float: left;
    padding: 15px 0;
    width: 50%;
    box-shadow: none;
    font-family: UbuntuMedium;
    font-size: 21px;
    color: #3d4248;
    border-top: 2px solid rgba(202, 202, 202, 0.25);
}

.registration-modal .buttons .btn:hover {
    color: #585f67;
}

.registration-modal .modal-content .close,
.registration-modal .modal-content .close:hover,
.registration-modal .modal-content .close:focus,
.registration-modal .modal-content .close:active {
    outline: none;
    opacity: 1;
    z-index: 2;
}

.registration-modal .modal-header #step-counter {
    position: absolute;
    font-family: UbuntuBold;
    font-size: 17px;
    color: #ffae6c;
}

.registration-modal .modal-body .category-img {
    cursor: pointer;
    position: relative;
    /*left: 50%;*/
    /*-webkit-transform: translateX(-50%);*/
    /*-moz-transform: translateX(-50%);*/
    /*-ms-transform: translateX(-50%);*/
    /*-o-transform: translateX(-50%);*/
    /*transform: translateX(-50%);*/
    display: block;
    margin: 26px auto 0;
    width: auto;
    height: 203px;
    max-width: 260px;
}

.registration-modal .modal-body .controls {
    position: relative;
    margin: 47px 0 15px;
    padding: 0;
}

.registration-modal .modal-body .final-stage .controls,
.registration-modal .modal-body .controls.category-controls {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

.registration-modal .modal-body {
    padding: 4px 0 0;
}

.registration-modal .modal-body .controls > .button-gradient {
    margin-right: 0;
}

.registration-modal .modal-body .controls > .button-gradient .btn {
    width: auto;
}

.registration-modal .modal-body .category-header.divider {
    border-right: 2px solid #ff8a49;
}

.registration-modal .buttons .btn.divider {
    border-right: 2px solid rgba(202, 202, 202, 0.25);
}

.registration-modal .modal-body .category-body.divider {
    border-right: 2px solid rgba(202, 202, 202, 0.25) !important;

}

.registration-modal .category-content {
    padding: 0 5px;
}

.registration-modal .category-item {
    margin-top: 8px;
}

.registration-modal .category-item input {
    display: none;
}

.registration-modal .category-item label:hover {
    color: #a6a6a6;
}

.registration-modal .category-item label {
    margin-bottom: 0;
    font-family: LatoRegular;
    font-size: 11px;
    color: #828282;
    cursor: pointer;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.registration-modal .category-item .checkbox:checked + label {
    color: #8BA8FF;
}

.registration-modal .category-item .checkbox + label:before {
    content: '';
    background: #DDD;
    display: inline-block;
    vertical-align: middle;
    width: 6px;
    height: 6px;
    padding: 2px;
    margin-top: -3px;
    margin-right: 8px;
    text-align: center;
    border-radius: 50%;
}

.registration-modal .category-item .checkbox:checked + label:before {
    background: #8BA8FF;
}

.category-content .show-more {
    background: transparent;
    border: none;
    outline: none;
    color: #808080;
    font-size: 12px;
    font-family: LatoBold;

    margin: 8px 23px 4px;
}

.category-content .show-more:hover {
    color: #a6a6a6;
}

.registration-modal .tip {
    font-family: LatoRegular;
    margin-top: 23px;
    font-size: 14px;
    color: #afafaf;
    position: absolute;
    bottom: 21px;
    right: 23px;
}

.category-header {
    cursor: pointer;
    line-height: 38px;
    width: 100%;
}

.category-header .image-container {
    display: inline-block;
    width: 45px;
    padding-left: 14px;
}

.category-header .image-container img {
    max-width: 100%;
    max-height: 34px;
}

.category-header .title {
    color: white;
    font-family: UbuntuMedium;
    font-size: 16px;
    margin-left: 18px;
    vertical-align: middle;
}

.gradient-full {
    background: rgb(255, 173, 108); /* Old browsers */
    background: -moz-linear-gradient(left, rgba(255, 173, 108, 1) 0%, rgba(255, 117, 58, 1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(255, 173, 108, 1) 0%, rgba(255, 117, 58, 1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(255, 173, 108, 1) 0%, rgba(255, 117, 58, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.gradient-light {
    background: rgb(254, 182, 119); /* Old browsers */
    background: -moz-linear-gradient(left, rgba(254, 182, 119, 1) 0%, rgba(255, 157, 92, 1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(254, 182, 119, 1) 0%, rgba(255, 157, 92, 1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(254, 182, 119, 1) 0%, rgba(255, 157, 92, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.gradient-dark {
    background: rgb(255, 157, 92); /* Old browsers */
    background: -moz-linear-gradient(left, rgba(255, 157, 92, 1) 0%, rgba(255, 129, 66, 1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(255, 157, 92, 1) 0%, rgba(255, 129, 66, 1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(255, 157, 92, 1) 0%, rgba(255, 129, 66, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.contact-details {
    padding: 0 23px 0 14px;
}

.contact-details .details-form {
    position: relative;
    width: 55%;
    float: left;
}

#customerBlock .contact-details .details-form {
    width: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

.contact-details .form-group {
    margin-bottom: 0px;
    max-height: 60px;
}

.contact-details .form-group label {
    font-family: LatoRegular;
    font-size: 15px;
    color: #808080;
    font-weight: normal;
    width: 100%;
    position: relative;
    margin-bottom: 0;
}

.contact-details .form-group label:last-child::after {
    content: '';
    position: absolute;
    width: 15px;
    height: 11px;
    top: -34px;
    right: 19px;
}

#customerBlock .contact-details .form-group label:last-child::after {
    right: 4px;
}

.contact-details .form-group label.error {
    font-size: 11px;
    color: #f97c7d;
}

.contact-details .form-group input {
    font-family: LatoRegular;
    font-weight: normal;
    font-size: 12px;
    color: #4c4c4c;
    padding-left: 14px;
    height: 26px;
    border-radius: 6px;
    border: 2px solid #e5e5e5;
    box-shadow: none;
    max-width: 293px;
    display: inline-block;
    line-height: 16px;
    padding: 3px 6px;
}

.contact-details .form-group select {
    height: 26px;
    border-radius: 6px;
    border: 2px solid #e5e5e5;
    box-shadow: none;
    max-width: 293px;
    display: inline-block;
    line-height: 16px;
    padding: 3px 6px;
}

#customerBlock .contact-details .form-group input {
    height: 26px;
}

.form-group input.error {
    border: 2px solid #f97c7d !important;
    outline: 0!important;
    box-shadow: 0px 0px 8px 0px #f97c7d;
}

.form-group input.error + label.error {
    opacity: 1;
}

.form-group input.valid {
    border: 2px solid #809eff !important;
}

.contact-details .form-group input.valid + label.error + label.icon:after,
.contact-details .form-group input.valid + label.icon:after {
    background: url("../../assets/images/done.png") center no-repeat;
    background-size: cover;
}

.contact-details .form-group input.error + label.error + label.icon:after {
    top: -53px;
    background: url("../../assets/images/not_done.png") center no-repeat;
}

.registration-modal .modal-body .contact-details .controls {
    margin-top: 4px;
    margin-bottom: 8px;
    width: 293px;
    text-align: center;
}

.registration-modal .modal-body .contact-details .controls .button-gradient {
    margin-bottom: 0px;
}

.registration-modal .modal-body .contact-details .controls .btn.register {
    font-family: LatoBold;
    font-size: 13px;
    padding: 4px 26px;
    height: 26px;
}

.registration-modal .modal-body .contact-details .hint {
    font-family: LatoRegular;
    font-size: 12px;
    color: #BBB;
}

.registration-modal .modal-body .contact-details .btn-back {
    background: transparent;
    outline: none;
    box-shadow: none;
    border: none;
    font-family: UbuntuMedium;
    padding: 0px;
    font-size: 17px;
    margin-top: 20px;
}

.registration-modal .modal-body .preview-block {
    position: relative;
    overflow: hidden;
    width: 45%;
    height: 100%;
    float: left;
}

.registration-modal .modal-body .preview-block img {
    width: 100%;
}

.registration-modal .modal-body .preview-block .overlay {
    position: absolute;
    top: 7px;
    left: 7px;
    bottom: 7px;
    right: 7px;
    background: rgba(0, 0, 0, 0.20);
}

.registration-modal .modal-body .preview-block .overlay span {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-family: LatoBlack;
    font-size: 20px;
    color: white;
}

.registration-modal .modal-body .final-stage .final-image {
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    margin-bottom: 24px;
}

.registration-modal .modal-body .final-stage h2 {
    display: inline-block;
    position: relative;
    width: 100%;
    font-family: UbuntuBold;
    font-size: 23px;
    color: #7f9eff;
    text-align: center;
    margin: 0;
}

.registration-modal .modal-body .final-stage .description {
    margin: 23px 0 0;
    font-family: LatoRegular;
    font-size: 13px;
    color: #939393;
    text-align: center;
}

.registration-modal .modal-body .final-stage .description a {
    text-decoration: none;
}

.registration-modal .modal-body .final-stage .controls {
    margin: 29px 0 33px;
}

.registration-modal .modal-body .final-stage .controls > .button-gradient {
    border-radius: 19px;
}

.registration-modal .modal-body .final-stage .controls .btn {
    font-family: LatoBlack;
    font-size: 14px;
    height: 29px;
    padding: 5px 12px;
    line-height: 19px;
}

.registration-modal .select2 {
    outline: none;
    border-radius: 6px;
    border: 2px solid #e5e5e5;
    overflow: hidden;
    height: 27px;
    max-width: 293px;
    width: 100% !important;
    margin-bottom: 15px;
}

.registration-modal .select2-selection {
    outline: none;
    border: none;
}

.registration-modal .select2-selection--single .select2-selection__rendered {
    padding-left: 14px;
    line-height: 29px;
    font-family: LatoRegular;
    font-weight: normal;
    font-size: 14px;
    color: #4c4c4c;
}

.registration-modal .select2-selection--single .select2-selection__arrow {
    top: 2px!important;
}

.registrations-selection {
    border: 1px solid #e5e5e5;
    border-top: none;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.selections-white.select2-selection {
    background: white!important;
}

/*tab list styles start*/
.registration-modal .tab-list{
    list-style: none;
    margin: 0;
    padding: 10px 5px;
    overflow: hidden;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    border-bottom: 2px solid rgba(202, 202, 202, 0.25);
}

.registration-modal .tab-list li{
    background: transparent;
    float: left;
    height: 128px;
    width: 33.33%;
    position: relative;
}

.registration-modal .tab-list li:after{
    content: "";
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    background: rgb(255, 157, 92);
    background-image: -moz-linear-gradient(left, rgba(255, 157, 92, 1) 0%, rgba(255, 129, 66, 1) 100%);
    background-image: -webkit-linear-gradient(left, rgba(255, 157, 92, 1) 0%, rgba(255, 129, 66, 1) 100%);
    background-image: linear-gradient(to right, rgba(255, 157, 92, 1) 0%, rgba(255, 129, 66, 1) 100%);
    -webkit-transition: opacity .25s;
    -moz-transition: opacity .25s;
    -ms-transition: opacity .25s;
    -o-transition: opacity .25s;
    transition: opacity .25s;
}

.registration-modal .tab-list li.active:after{
    opacity: 1;
}

.registration-modal .tab-list li.active h3{
    color: #fff;
}

.registration-modal .tab-list .img-box{
    margin: 0 auto 7px;
    width: 72px;
    height: 72px;
    overflow: hidden;
}
.registration-modal .tab-list .img-box img{
    display: block;
    height: auto;
    width: 100%;
}
.registration-modal .tab-list  h3{
    margin: 0;
    font-size: 14px;
    color: #222;
}
.registration-modal .tab-list a{
    display: table;
    height: 100%;
    width: 100%;
    text-decoration: none;
    z-index: 2;
    position: relative;
}
.registration-modal .tab-list a:hover{
    text-decoration: none;
}
.registration-modal .tab-list figure{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
}
/*tab list styles end*/
/*categories list styles start*/
.registration-modal .categories-list{
    overflow: hidden;
    list-style: none;
    margin: 0;
    padding: 10px 0 5px;
    color: #828282;
    font-size: 12px;
}
.registration-modal .categories-list > li{
    float: left;
    padding: 0 5px;
    width: 33.33%;
}
.registration-modal .categories-list ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.registration-modal .categories-list ul li{
    margin: 0 0 5px;
    position: relative;
}
.registration-modal .categories-list input[type="checkbox"],
.registration-modal .categories-list input[type="radio"]{
    display: none;
}
.registration-modal .categories-list label{
    margin: 0;
    cursor: pointer;
}
.registration-modal .categories-list input[type="checkbox"]:checked + label,
.registration-modal .categories-list input[type="radio"]:checked + label{
    color: #8BA8FF;
}
/*categories list styles end*/

@media (max-width: 767px) {


    .registration-modal {
        margin-top: 54px;
    }

    .registration-modal .modal-content .close {
        background: transparent;
        top: 8px;
        right: 8px;
    }

    .registration-modal .modal-dialog {
        display: inline;
        margin: 0 !important;
        width: 100%;
        min-height: 100%;
    }

    .registration-modal .modal-dialog .modal-content {
        border-radius: 0;
        min-height: 100%;
    }

    .registration-modal .select2,
    .contact-details .form-group input {
        width: calc(100% - 26px)!important;
        max-width: none;
    }

    #customerBlock .contact-details .details-form,
    .contact-details .details-form {
        width: 100%;
    }

    .registration-modal .category-item {
        margin-top: 4px;
        margin-bottom: 4px;
    }

    .registration-modal .modal-body .controls {
        margin: 30px 0 15px;
    }

    .registration-modal .modal-body .contact-details .controls {
        left: 50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
    }

    .registration-modal .tab-list li{
        height: 112px;
    }

    .registration-modal .tab-list .img-box{
        height: 40px;
        width: 46px;
    }

    .registration-modal .modal-body .category-img{
        margin: 26px auto;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        transform: none;
        left: auto;
        display: block;
    }
}

@media (max-width: 675px){
    .registration-modal .tab-list a{
        padding: 13px;
        display: block;
    }
    .registration-modal .tab-list figure{
        display: block;
    }
}

@media (max-width: 500px) {

    .registration-modal .tab-list li{
        height: 60px;
    }

    .registration-modal .tab-list a{
        padding: 3px 5px 5px;
        display: table;
    }

    .registration-modal .tab-list figure{
        display: table-cell;
    }

    .registration-modal .tab-list .img-box{
        display: none;
    }

    .registration-modal .categories-list ul li{
        margin-bottom: 2px;
    }

    .registration-modal .tab-list li h3{
        font-size: 12px;
    }
    .registration-modal .categories-list{
        padding-top: 5px;
    }

    .gradient-light,
    .gradient-dark {
        background: rgb(255, 173, 108); /* Old browsers */
        background: -moz-linear-gradient(left, rgba(255, 173, 108, 1) 0%, rgba(255, 117, 58, 1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left, rgba(255, 173, 108, 1) 0%, rgba(255, 117, 58, 1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, rgba(255, 173, 108, 1) 0%, rgba(255, 117, 58, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    }

    .registration-modal .modal-body .category-header.divider,
    .registration-modal .modal-body .category-body.divider {
        border-right: none;
    }

    .registration-modal .modal-header #step-counter {
        font-size: 11px;
        left: 11px;
    }

    .registration-modal .modal-dialog .modal-title {
        font-size: 11px;
        max-width: 188px;
        width: 113px;
        display: inline-block;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
        position: relative;
    }

    .registration-modal .modal-body {
        padding: 19px 0 0;
    }

    #customerBlock .contact-details .details-form,
    .contact-details .details-form {
        width: 100%;
    }

    .contact-details .form-group label:last-child::after {
        right: 0;
    }

    .contact-details .form-group input.error + label.error + label.icon:after {
        top: -49px;
    }

    .contact-details .form-group input {
        width: calc(100% - 26px);
        max-width: none;
    }

    .registration-modal .modal-body .final-stage .row {
        padding: 0 26px;
    }

    .registration-modal .modal-body .contact-details .controls {
        width: 100%;
    }

    .registration-modal .select2 {
        max-width: calc(100% - 26px);
        height: 23px;
    }

    .category-header .title {
        font-size: 12px;
    }

    .registration-modal .modal-body .final-stage .controls .btn {
        font-size: 9px;
        height: 27px;
    }

    .contact-details .form-group input {
        font-size: 9px;
        padding-left: 9px;
        height: 23px;
    }

    .registration-modal .select2-selection--single .select2-selection__rendered {
        font-size: 9px;
        padding-left: 9px;
        line-height: 20px;
    }

    .registration-modal .select2-selection--single .select2-selection__arrow {
        top: 0;
    }

    .registration-modal .modal-body .contact-details .controls .btn.register {
        font-size: 11px;
    }

    .registration-modal .modal-body .contact-details .hint {
        font-size: 9px;
    }

    .registration-modal .modal-body .contact-details .btn-back {
        font-size: 17px;
        margin-top: 0;
    }

    .registration-modal .buttons .btn {
        font-size: 12px;
    }

    .registration-modal .modal-body .final-stage h2 {
        font-size: 12px;
    }

    .registration-modal .modal-body .final-stage .description {
        font-size: 9px;
    }

    .registration-modal .modal-body .category:not(:last-of-type) {
        border-bottom: 1px solid white;
    }

    /*.registration-modal .modal-body .category-img {*/
        /*max-width: 150px;*/
        /*margin-top: 0;*/
    /*}*/

    .registration-modal .modal-body .controls > .button-gradient .btn {
        font-size: 11px;
        height: 26px;
    }

    .registration-modal .modal-body .controls {
        margin: 9px 0;
    }

    .registration-modal .modal-body .final-stage .controls {
        margin: 25px 0;
    }

    .registration-modal .category-item label {
        font-size: 9px;
    }

    .registration-modal .category-item .checkbox + label:before {
        width: 8px;
        height: 8px;
    }

    .registration-modal .category-item {
        margin-top: 4px;
        margin-bottom: 4px;
    }

    .category-content .show-more {
        font-size: 11px;
        margin: 5px 23px 5px;
    }

    .category-header {
        padding-left: 0px;
        line-height: 47px;
    }

    .registration-modal .modal-body .final-stage h2 {
        font-size: 18px;
    }

    .registration-modal .modal-body .final-stage .description {
        font-size: 12px;
    }

    .registration-modal .modal-body .controls > .button-gradient .btn {
        font-size: 12px;
        line-height: 17px;
        height: 27px;
    }

    .registration-modal .modal-body .final-stage .final-image {
        position: relative;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
        margin-bottom: 15px;
        max-width: 94px;
    }
}

@media (max-width: 400px) {

    .gradient-light,
    .gradient-dark {
        background: rgb(255, 173, 108); /* Old browsers */
        background: -moz-linear-gradient(left, rgba(255, 173, 108, 1) 0%, rgba(255, 117, 58, 1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left, rgba(255, 173, 108, 1) 0%, rgba(255, 117, 58, 1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, rgba(255, 173, 108, 1) 0%, rgba(255, 117, 58, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    }

    .registration-modal .modal-body .category-header.divider,
    .registration-modal .modal-body .category-body.divider {
        border-right: none;
    }

    .registration-modal .modal-header #step-counter {
        font-size: 11px;
        left: 11px;
    }

    .registration-modal .modal-dialog .modal-title {
        font-size: 11px;
        max-width: 188px;
        width: 113px;
        display: inline-block;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
        position: relative;
    }

    .registration-modal .modal-body {
        padding: 19px 0 0;
    }

    #customerBlock .contact-details .details-form,
    .contact-details .details-form {
        width: 100%;
    }

    .contact-details .form-group label:last-child::after {
        right: 0;
    }

    .contact-details .form-group input.error + label.error + label.icon:after {
        top: -49px;
    }

    .contact-details .form-group input {
        width: calc(100% - 26px);
        max-width: none;
    }

    .registration-modal .modal-body .final-stage .row {
        padding: 0 26px;
    }

    .registration-modal .modal-body .contact-details .controls {
        width: 100%;
    }

    .registration-modal .select2 {
        max-width: calc(100% - 26px);
        height: 23px;
    }

    .category-header .title {
        font-size: 12px;
    }

    .registration-modal .modal-body .final-stage .controls .btn {
        font-size: 9px;
        height: 27px;
    }

    .contact-details .form-group input {
        font-size: 9px;
        padding-left: 9px;
        height: 23px;
    }

    .registration-modal .select2-selection--single .select2-selection__rendered {
        font-size: 9px;
        padding-left: 9px;
        line-height: 20px;
    }

    .registration-modal .select2-selection--single .select2-selection__arrow {
        top: 0px;
    }

    .registration-modal .modal-body .contact-details .controls .btn.register {
        font-size: 11px;
    }

    .registration-modal .modal-body .contact-details .hint {
        font-size: 9px;
    }

    .registration-modal .modal-body .contact-details .btn-back {
        font-size: 17px;
        margin-top: 0;
    }

    .registration-modal .buttons .btn {
        font-size: 12px;
    }

    .registration-modal .modal-body .final-stage h2 {
        font-size: 12px;
    }

    .registration-modal .modal-body .final-stage .description {
        font-size: 9px;
    }

    .registration-modal .modal-body .category:not(:last-of-type) {
        border-bottom: 1px solid white;
    }

    /*.registration-modal .modal-body .category-img {*/
        /*max-width: 101px;*/
        /*margin-top: 0;*/
    /*}*/

    .registration-modal .modal-body .controls > .button-gradient .btn {
        font-size: 11px;
        height: 26px;
    }

    .registration-modal .modal-body .controls {
        margin: 9px 0;
    }

    .registration-modal .modal-body .final-stage .controls {
        margin: 25px 0;
    }

    .registration-modal .category-item label {
        font-size: 9px;
    }

    .registration-modal .category-item .checkbox + label:before {
        width: 8px;
        height: 8px;
    }

    .registration-modal .category-item {
        margin-top: 4px;
        margin-bottom: 4px;
    }

    .category-content .show-more {
        font-size: 11px;
        margin: 5px 23px 5px;
    }

    .category-header {
        padding-left: 0px;
        line-height: 47px;
    }

    .registration-modal .modal-body .final-stage h2 {
        font-size: 18px;
    }

    .registration-modal .modal-body .final-stage .description {
        font-size: 12px;
    }

    .registration-modal .modal-body .controls > .button-gradient .btn {
        font-size: 12px;
        line-height: 17px;
        height: 27px;
    }

    .registration-modal .modal-body .final-stage .final-image {
        position: relative;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
        margin-bottom: 15px;
        max-width: 86px;
    }

}


@media (max-width: 400px) and (max-height: 480px) {
    /*.registration-modal .modal-body .category-img {*/
        /*max-width: 75px!important;*/
    /*}*/

    .registration-modal .modal-body .final-stage h2 {
        font-size: 12px;
    }

    .registration-modal .modal-body .final-stage .description {
        font-size: 9px;
    }

    .registration-modal .modal-body .controls > .button-gradient .btn {
        font-size: 11px;
        line-height: 17px;
        height: 26px;
    }

}

@media (max-width: 400px){
    .registration-modal .modal-body .category-img {
        max-width: 182px;
        max-height: 147px;
    }

}