.team-section { margin-bottom: 210px; }
.team-section h2 { font-size: 30px; color: #000; margin: 35px 0 0 0; font-family: 'Ubuntu', sans-serif; font-weight: 500; }
.team-item-block { margin-top: 30px; }
.team-item-container { position: relative; }
.team-item-avatar { width: 100%; }
.team-item-h {
    height: 63px;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-image: linear-gradient(rgba(250, 217, 97, 0.8) 0%, rgba(247, 107, 28, 0.8) 100%);
}
.team-item-h p { margin: 0; padding: 0; font-family: Lato-Regular;  font-size: 14px;  color: #ffffff; }
.team-item-h p:nth-of-type(1) { padding-top: 12px; }
.team-item-h p.name { font-family: 'Ubuntu', sans-serif; font-weight: 500; }
.team-item-h p.post { font-family: 'Lato', sans-serif;   font-weight: 400; }

.team-item-description {
    background: #FFF;
    z-index: 5;
    position: absolute;
    top: 100%;
    margin-right: 15px;
    overflow: hidden;
    max-height:0;
    -webkit-transition-property: all;
    -webkit-transition-duration: .5s;
    -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    -moz-transition-property: all;
    -moz-transition-duration: .5s;
    -moz-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    -ms-transition-property: all;
    -ms-transition-duration: .5s;
    -ms-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.team-item-description p { padding: 15px;
    margin: 0;
    font-family: LatoRegular;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
    text-align: justify;
    line-height: 16px;
}
.team-item-block:hover .team-item-description {
    max-height: 280px;
}

@media screen and (max-width: 767px) {
    .team-item-description {
        font-size: 12px;
        line-height: 20px;
    }
}

@media screen and (max-width: 1440px) {
    .team-item-description p {
        padding: 10px;
        margin: 0;
        font-family: LatoRegular;
        font-weight: 400;
        font-size: 14px;
        color: #000000;
        text-align: justify;
        line-height: 14px;
    }
}

@media screen and (max-width: 425px) {
    .team-item-description p {
        padding: 15px;
        margin: 0;
        font-family: LatoRegular;
        font-weight: 400;
        font-size: 14px;
        color: #000000;
        text-align: justify;
        line-height: 20px;
    }
}
